/*Desktop-First*/

@media screen and (max-width: 1200px) {   


    /*Header-Elemente*/

    .icon-schulcampus::before{
        margin-left: 5px;
    }    

    .dropdown-item{
        height: 50px; /*Zeilenhöhe soll 50px sein - TODO*/
    }

    header .dropdown-menu> .dropdown-item:not(:first-child){
        border-top:1px solid #E3E3E5;
    }

    .nav-pills-area {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        margin-right:0;
    }


    /*Footer-Elemente"*/

    footer{
        height:auto;
    }

    footer .navbar-nav{ 
        flex-direction: column;
        align-items: center;
    }

    .bluebox{
        height: 465px;
    }

    .bluebox section {
        min-height:9rem;
    }
    
    .bluebox-lg{
        height:9rem; 
        width:9rem;  
    }

    .bluebox-label a{
        font-size: 19px !important;
    }



}





/*MobileAnsicht*/
@media screen and (max-width: 992px) {   

    #topnav button, .dd-right button{
        width:auto;
    }

    header .logo-label {
        font-size:16px;
        display:none;
    }

    header .badge{
        display: none;  
    }
    
    .nav-pills-area {
        float: none;
    }

    .dropdown-item {
        border-radius:0;
    }

    .dd-label{
        display: none;
    }

    .dropdown-menu-full .dropdown-menu> .dropdown-item:not(:first-child){
        border-top:1px solid #E3E3E5;
    }

    #topnav .dropdown-menu, #usernav .dropdown-menu{
        display: none;
    }

    .dropdown-menu-full{
        display: block;
        position: absolute;
        margin-top: 50px;
        left: 0px;
        right:0px;
        z-index: 1024;
    }

    #usernav-mobile.dropdown-menu-full .dropdown-menu{
        width: 100%;
        text-align: center;
        border-radius: 0;
    }

    #topnav-mobile.dropdown-menu-full .dropdown-menu{
        width: 100%;
        float: left;     
        border-radius: 0; 
    }

    #topnav-mobile .dropdown-item{
        padding-left: 40%;
    }
    
    footer .navbar-brand{
        display: flex;
        justify-content: center;
    }

    #teaser section{
        margin-bottom:15px;
    }

    .carousel-indicators {
        display: flex;             
    }
    .carousel-control-prev, .carousel-control-next{
        display:none;
    }

    #teaser.container{
        width:540px;
        height: 150px;
    }

    main .container{
        display: flex; 
        width:540px;
        justify-content: center;
    }

    .bluebox{
        display: flex;
        flex-direction: row;
        height: 400px;
        margin: 60px 0px;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .bluebox :nth-child(1) { order: -1; }
    .bluebox :nth-child(2) { order: 1; }
    .bluebox :nth-child(3) { order: -1; }
    .bluebox :nth-child(4) { order: 0; }
    .bluebox :nth-child(5) { order: 2; }
    .bluebox :nth-child(6) { order: -1; }
    .bluebox :nth-child(7) { order: 2; }
    .bluebox :nth-child(8) { order: 2; }

    .bluebox .col-4{
        display: flex;
        justify-content: center;
        margin:0;
        padding: 10px;
        height: auto;
    }

    .bluebox section {
        width: 10rem;
        min-height: 10rem;
        margin:0;
        cursor: pointer;
    }
    
    .bluebox-lg{
        width: 10rem;
        height:10rem;   
    }

    .bluebox-sm{
        display: none;
    }
    
    .bluebox-label {
        display:none;
    }

    dt h4 {
        display: contents;
    }

    dt::before {

        padding: 0;
        margin-right: 5px;
    }
    
    .box-content-full {
        display:none;
    }


    /*TODO*/
    .btn-up{
        display:block;
    }

}    




@media screen and (max-width: 768px) {  

    /*TODO Logo soll dann mittig über LinkList stehen"*/
    footer .row{
        flex-direction: column;
    }

    #topnav-mobile .dropdown-item{
        padding-left: 30%;
    }

} 

@media (max-width: 575px) {

    .container-fluid{
        padding-right: 0;
        padding-left: 0;
    }

    #topnav-mobile .dropdown-item{
        padding-left: 20%;
    }

    #teaser.container, main .container{
        width:396px;
    }

    #teaser.container{
        height:170px;
    }

    .bluebox{
        margin-left:0 !important;
        margin-right:0 !important;
        height: 300px;
    }

    .bluebox .col-4{
        margin:0 !important;
        padding: 10px;
        height: auto;
    }

    .bluebox section {
        width: 8rem;
        min-height: 8rem;
        margin: 0;
    }
    
    .bluebox-lg{
        width:8rem;
        height:8rem; 
    }

    .box-content-full {
        width: 100%;
        margin-left: 2px;
        margin-right: 2px;
    }


}


/*Ansicht bis 440px gut*/

@media screen and (max-width: 398px) { 

    .nav-link {
        display: block;
        padding: .5rem .4rem;
    }

    .nav-pills-area{
        margin-left: 3px;
        margin-right: -4px;
    }

    .dd-right .dropdown-toggle::after {
        padding: 0;
    }

    .dropdown .btn {
        padding: .5rem .4rem;
    }

    .dropdown-toggle::after {
        padding: 0;
    }

    #teaser.container, main .container{
        width:100%;
    }

    #teaser.container{
        height: 180px;
    }

    .bluebox{
        height:180px;
    }


    .bluebox section {
        width:5.75rem;
        min-height:5.75rem;
        margin: 5px 0;
    }
    
    .bluebox-lg{
        position:absolute;
        width:5.75rem;
        height:5.75rem; 
    }

    .blue-icon-lg{
        font-size:43px;
    }

    .bluebox .col-4{
        padding:0;
    }

    .box-content-full {
        width: 100%;
    }


}





   





