html, body {
    display: grid;
    height:100%;
}

#header {
    background-color: antiquewhite;
}

.headerraster { 
    display: grid;
    grid-template-columns: 50% 25% 25%;
    height:70px;
    vertical-align: middle;
}

@media all and (max-width: 50em) {
    .headerraster {
        grid-template-columns: 25% 50% 25%;
    }
}

.footerraster { 
    display: grid;
    grid-template-columns: 25% 50%;
    
}

#aside {
    background-color: yellowgreen;
    
}

#footer {
    background-color: antiquewhite;
    
}

.footerraster { 
    display: grid;
    grid-template-columns: 25% 50%;
    height:70px;
}

@media all and (max-width: 50em) {
    .footerraster {
        display: block;
        text-align: center;
    }
}

.contentraster {
    min-height: 100%;
    display: grid;
    grid-template-columns: 80px 1fr 1140px 1fr 80px;
    grid-template-rows: 1fr;
}

#main {
    background-color: blueviolet;
}

.mainraster {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-gap: 30px;
}

.raster {
    min-height: 100%;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}