/*Mobile*/
/*Smartphone ToDO BREITE 320px?!*/

@media screen and (max-width: 1200px) {       
    .container {
      max-width: 540px;
    }
  
  #header .logo-label {
      font-size:16px;
      display:none;
    }

  .icon-schulcampus::before{
    margin-left: 5px;
  }    
  
    #header .badge{
     display:none;
    }
  
    #header .col-7{
      flex:0 0 25%;
      max-width:25%;
     }

    #header .nav-pills-area.col-3{
      flex:0 0 50%;
      max-width:50%;
    }

    #header .col-2{
     flex:0 0 25%;
     max-width:25%;
    }

    #mainnav .dropdown-toggle::after {
      display: inline-block;
      font-size:20px;
      color:#2F3A48;
      font-family: "SCicons";
      content: "\f0c9";
    }
   
    .sc-icon-dd {
      font-size: 23px;
    }

    .icon-schulcampus::before {
      font-size:27px;
    }
    .icon-userhead::before {
      font-size: 30px;
    }
	
	.dd-label{
		display:none;
	}

    #header .dropdown-menu> .dropdown-item:not(:first-child){
      border-top:1px solid #E3E3E5;
    }
  
    #header .dropdown-item {
      width:auto;
      padding: 0.5rem 0.7rem;
      font-size:inherit;
      color:inherit;
	  text-align:center;
      white-space: nowrap;
      border-radius:none !important;
    }
  
    #header .dropdown-menu{
      position: absolute;
      transform: translate3d(0px, 34px, 0px);
      top: 0px;
      will-change: transform;
    }

    #header .dropdown-divider{
      border-top:none;
    }
  

    #teaser section{
      margin-bottom:15px;
    }
  
    .carousel-indicators {
      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }
    .carousel-control-prev, .carousel-control-next{
      display:none;
    }
    
.bluebox{
  max-height: 500px;    
}

    .bluebox section {
      min-height:8.5rem;
    }
  
    .bluebox-lg{
      position:absolute;
      width:120%;
      height:8.5rem;
      font-size:55px;    
    }
  
    .bluebox-label {
      display:none;
    }


    #footer{
      height:auto;
    }
  
    #footer .row {
      flex-direction: column;
      align-items: center;
    }

    #footer .nav-link {
      justify-content: center;
    }
  
    #footer .navbar-brand {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }
  
  #footer .container, #footer .row {
    width:100%;
  }
  
    #footer img{
      display:block;
      height:40px;
    }
  
    #footer .dropup, #footer .nav-item{
      justify-content: center;
    }
  
    #footer .navbar-nav{
      border-bottom:1px solid #5C646F;;
      border-top:1px solid #5C646F;;
    }  
  
    #footer .navbar-brand{
      justify-content: center;
    }

  
#pagesearch .form-control {
  width: 300px;
}
    
    .content-padding-normal{
        display:block;
        padding-top:0px;
    }
    .content-padding-lg {
        padding-top:230px;
      }
      .content-padding-sm {
        padding-top:150px;
      }

.extension-button{
  display:none;
}

.sideoption {
  width:100%;
  margin-bottom: 30px;
}

#sideoption .card-header .btn, #sideoption .card-body a {
  font-size: 14px;
  margin:2px;
  padding:2px;
}

.pagesearch-field {
  display: block;
}


}