:root{
	/*von dunkel nach hell*/
	--limette-1: #C0CD00; 
	--limette-2: #CBD900;
	--limette-3: #EAF099;
	--blau-1: #0583C9;
	--blau-2: #009CEE;
	--blau-3: #00B2F9;
  --blau-4: #99E0FD;
  --moodle-orange:#f98012;
	--gruen-1: #253100;
	--gruen-2: #518200;
	--gruen-3: #65A300;
	--dunkelgrau-1: #2F3A48;
	--dunkelgrau-2: #505B64;
	--dunkelgrau-3: #5C646F;
	--dunkelgrau-4: #737C83;
	--hellgrau-1: #A7ADB1;
	--hellgrau-2: #E3E3E5;
	--hellgrau-3: #F1F1F6;
	--hellgrau-4: #F8F8F8;
	--status-gruen: #44B687;
	--statusgelb: #EFB640;
	--statusrot: #E94B4B;
	--warnung: #E2293F;
}

html, body {
  height: 100%;
  margin:0px;    /*Browser-Styles reset*/
  padding:0px;   /*Browser-Styles reset*/
  font-family: 'Open Sans', Arial, sans-serif !important;
}

body {
  height:100%;
  display:flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px; /*1140px*/
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  width:100%;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
}



header {
  flex-shrink: 0;
  height: 50px;
  background-color: #CBD900;
  transition: margin-left .5s; /* If you want a transition effect */
  padding-top: 5px;
}

#content {
  flex: 1 0 auto;
  display:flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
  height: 50px;
  background-color: #737C83;
}

/*content-elements*/

/*Headings*/
h1, h2, h3, h4 .h1, .h2, .h3, .h4 {
    font-family: 'Open Sans', Arial, sans-serif;
      color: #2F3A48;
  }
  h1 {
    font-size: 24px;
    font-weight: 400;	
    color: #505B64;
  }
  h2 {
    font-size: 19px;
    font-weight: 400;	
  }
  h3 {	
    font-size: 16px;
    font-weight: 700;	
  }
  h4 {
    font-size: 14px;
    font-weight: 700;
  }
  
  /*Schriftgrößen*/
  .normal{
    font-size:16px;
  }
  .small{
    font-size:14px;
  }
  .mini{
    font-size:12px;
  }
  
  /*Links*/
  a {
    color: #2F3A48;
  }
  a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover {
    color: #009CEE;	     
    text-decoration:none;
  }
  
  p > a {
      text-decoration: underline;
      text-decoration-color:#009CEE;
  }
  
  /*Placeholder*/ 
   ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A7ADB1;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A7ADB1;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #A7ADB1;
  }
  
  /*Paragraph*/
  .p-lg {
      font-size: 19px;	
      line-height: 26px;
      color: #505B64;
  }
  .p-sm {
      font-size: 14px;	
      line-height: 21px;
      color: #505B64;
  }
  
  /*Listen*/  
  ol,
  ul,
  dl {
    font-size: 14px;
    font-weight:700;
  }
  
  ol {
      list-style-type: disc;
  }	
  
  ul {
      list-style-type: none;
  }
  
  .li-grey {
      color:#E3E3E5;  
  }
  li span {
      color:#2F3A48;  
  }
  .li-blue{
      color:#009CEE;
  }
  
  /*Link Liste (Defination-List)*/
  dt {
    font-size:14px;
    display:block;
  }
  dd {
      padding: 0 20px;
    font-size:12px;
    font-weight:400;
  }
  dt::before {
    display: inline-block;
    padding: 0 8px 0 0;
    font-family: 'SCicons';
    color:#009CEE;
    content: "\e815";
  }


/*Buttons*/
.btn {
    font-weight: 600;
    display: flex;
    display:-ms-inline-flexbox;
    align-items: baseline;
  }
  .btn:focus, .btn.focus {
    box-shadow: none;
  }
  a.btn {
    font-weight:400;
  }
  
  .btn .user-icon{
    align-self: center;
  }
  
  .btn-blue {
    color: #fff;
    background-color: #009CEE;
    border:none;
  }
  .btn-blue:hover {
    color: #2F3A48;
    background-color: #00B2F9;
    border:none;
  }  
  .btn-blue:focus, .btn-blue.focus {
    box-shadow: 0 0 0 0 #99E0FD;
  }
  .btn-blue.disabled, .btn-blue:disabled {
    color: #A7ADB1;
    background-color: #F1F1F6;
    border:none;
  }
  .btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
  .show > .btn-blue.dropdown-toggle {
    color: #2F3A48;
    background-color: #99E0FD;
    border:none;
  }
  .btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus,
  .show > .btn-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #99E0FD;
  }
  
  .btn-white {
    color: #009CEE;
    background-color: #fff;
    border:none;
  }
  .btn-white:hover {
    color: #0583C9;
    background-color: #99E0FD;
    border:none;
  } 
  .btn-white:focus, .btn-white.focus {
    box-shadow: 0 0 0 0 #0583C9;
  }
  .btn-white.disabled, .btn-white:disabled {
    color: #99E0FD;
    background-color: #009CEE;
    border:none;
  }
  .btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active,
  .show > .btn-white.dropdown-toggle {
    color: #fff;
    background-color: #0583C9;
    border:none;
  }
  .btn-white:not(:disabled):not(.disabled):active:focus, .btn-white:not(:disabled):not(.disabled).active:focus,
  .show > .btn-white.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #0583C9;
  }
  
  .btn-lime {
    color: #CBD900;
    background-color: #fff;
    border:none;
  }
  .btn-lime:hover {
    color: #65A300;
    background-color: #EAF099;
    border:none;
  } 
  .btn-lime:focus, .btn-lime.focus {
    box-shadow: 0 0 0 0 #65A300;
  }
  .btn-lime.disabled, .btn-lime:disabled {
    color: #65A300;
    background-color: #C0CD00;
    border:none;
  }
  .btn-lime:not(:disabled):not(.disabled):active, .btn-lime:not(:disabled):not(.disabled).active,
  .show > .btn-lime.dropdown-toggle {
    color: #fff;
    background-color: #65A300;
    border:none;
}
.btn-lime:not(:disabled):not(.disabled):active:focus, .btn-lime:not(:disabled):not(.disabled).active:focus,
  .show > .btn-lime.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #65A300;
}


.btn-login{
    color: #fff;
    background-color: #65A300;
}
.btn-login:hover{
  color: #2f3a2f;
  background-color: #65A300;
}

/*Dropdown*/
  .dropdown.btn, .dropdown .btn, .dropup .btn {
    border: none;
    box-shadow:none;
    transition:none;
  }
  .dropdown-toggle::after, .dropup .dropdown-toggle::after {
    border:none;
    margin:5px;
  }
  .dropdown-toggle::after {
    display: inline-block;
    padding: 0 10px 0 0;
    vertical-align: 0px;
    font-family:'SCicons';
    content: "\e811";
  }
  .show > .dropdown-toggle::after {
    content: "\e814";
  }
  .dropdown-menu {
    text-align:left;
    color:inherit;
    border: 1px solid transparent;
    padding:0;
    margin:0;
  }
  
  .dropdown-item {
    width:auto;
    padding: 0.5rem 0.7rem;
    font-size:inherit;
    color:inherit;
    white-space: nowrap;
    border-radius:0.2rem;
  }
  
  .dropdown-divider {
    margin:0 0;
  }
  
  .dropdown-white {
    color: #2f3a2f;
      background-color:#fff;
    border:1px solid #99E0FD;
    border-radius:0.2rem;
  }
  .dropdown-white:hover {
    color: #009CEE;
    background-color: #fff;
    border-color: #99E0FD;
  } 
  .dropdown-white:not(:disabled):not(.disabled):active, .dropdown-white:not(:disabled):not(.disabled).active,
  .show > .dropdown-white.dropdown-toggle {
    color: #2f3a2f;
    background-color: #99E0FD;
    border-color: #99E0FD;
  }
  
  .dropdown-blue {
    color:#2f3a2f;
      background-color:#00B2F9;
    border:1px solid #99E0FD;
    border-radius:0.2rem;
  }
  .dropdown-blue:hover {
    color: #fff;
    background-color: #00B2F9;
    border-color: #99E0FD;
  } 
  .dropdown-blue:not(:disabled):not(.disabled):active, .dropdown-blue:not(:disabled):not(.disabled).active,
  .show > .dropdown-blue.dropdown-toggle {
    color: #fff;
    background-color: #0583C9;
    border-color: #0583C9;
  }
  
  .dropdown-lime {
    color:#253100;
    background-color:#CBD900;
    border:1px solid #CBD900;
    border-radius:0.2rem;
  }
  .dropdown-lime:hover {
    color: #fff;
    background-color: #65A300;
    border-color: #65A300;
  } 
  .dropdown-lime:not(:disabled):not(.disabled):active, .dropdown-lime:not(:disabled):not(.disabled).active,
  .show > .dropdown-lime.dropdown-toggle {
    color: #fff;
    background-color: #65A300;
    border-color: #65A300;
  }
  
  .dropdown-menu-white {
    color: #fff;
    background-color: #00B2F9;
  }
  .dropdown-menu-white > a:hover {
    color:#2f3a2f;
    background-color: #99e0FD;
  }
  .dropdown-menu-blue {
    color: #2f3a2f;
    background-color: #00B2F9;
  }
  .dropdown-menu-blue > a:hover {
    color:#fff;
    background-color: #00B2F9;
  }
  .dropdown-menu-lime {
    color: #253100;
    background-color: #CBD900;
  }
  .dropdown-menu-lime > a:hover {
    color:#fff;
    background-color: #65A300;
  }
  

/*Breadcrumb*/
.breadcrumb {
    margin: 5px;
    font-weight:400;
    font-size: 14px;
    color:#2F3A48;
    background-color:#fff; 
  }
  .breadcrumb-item>a:hover {
    color: #0583C9;	    
    text-decoration:none;
  }
  
  /*Pagination*/
  .page-link-user {
      color:#737C83;
      background-color: #fff;
      border-color:#E3E3E5;
  }
  .page-link-user:hover {
    color: #009CEE;
    background-color:transparent;
    text-decoration: none;
  }
  .page-link-user:focus {
      box-shadow: 0 0 0 0 white;
  }
  .page-item.active .page-link-user {
    color: #2F3A48;
    background-color: #fff;
    border-color: transparent;
  }
  
  .page-btn {
    display: inline-block;
    width:2rem;
    padding: 0 10px 0 0;
    border-radius:0rem;
  }
  .btn-arrow-prev::before {
    font-family: "SCicons";
    content: '\f104';
    padding-left: 5px;
    position: relative;
    font-size: 70%;
  }
  .btn-doublearrow-prev{
    border-top-left-radius: 0.25rem;
    border-top-right-radius:0rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius:0rem;
  }
  .btn-doublearrow-prev::before {
    font-family: "SCicons";
    content: '\f100';
    padding-left: 5px;
    position: relative;
    font-size: 100%;
  }
  .btn-arrow-next::after {
    font-family: "SCicons";
    content: '\f105';
    padding-left: 5px;
    position: relative;
    font-size: 70%;
  }
  .btn-doublearrow-next{
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0rem;
  }
  .btn-doublearrow-next::after {
    font-family: "SCicons";
    content: '\f101';
    padding-left: 5px;
    position: relative;
    font-size: 100%;
}

/*Suchfeld*/
.form-control[type=search] {
  color:#2F3A48;
  border-right: none;
  border-color:#A7ADB1;
}
.form-control[type=search]:focus {
  color: #495057;
  border:2px solid #009CEE;
  border-right:none;
  box-shadow: none;
}

.input-group-append {
  background-color:#fff;
  border:1px solid #A7ADB1;
  border-left:none;
  border-radius:.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-search{
  background-color:#fff;
  font-weight:400;
  height:40px;
}

/*ToDO Search-Icon bei Focus BLAU*/
.btn-search::after:focus, btn-search::after.focus {
  color:#99E0FD
}

.btn-search::after {
  color:#A7ADB1;
  font-family: "SCicons";
  font-size:20px;
  content:"\e819";
}


/*Carousel*/
.carousel{
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.carousel-indicators {
  display: none;
  margin-bottom:-20px;
}
.carousel-indicators li {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: 1px solid #737C83;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}

.carousel-control-prev, .carousel-control-next{
  display: none;
}

.carousel-indicators .active {
  width: 1em;
  height: 1em;
  margin: 10px;
  background-color: #737C83;
}

/*Nav-Pfeile an der Seite -Color*/
.carousel-control-prev-icon-news {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon-news {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/*Akkordeon und Cards*/
.card-blue {
  background-color: #00B2F9;
  border: 1px solid #00B2F9;
  border-radius: 0;
}
.card-white {
  border-radius: 0;
}
.card-header-blue {
  color:#fff;
  background-color: #009CEE;
  border-bottom: 1px solid #00B2F9;
}
.card-header-white {
  color:#505B64;
  background-color: #fff;
  border-bottom: 1px solid #F1F1F6;
}

.accordion .dropdown-toggle::after{
  padding-right: 30px;
  font-size:16px;
}

.btn-link-blue .dropdown-toggle::after{
  color:#99E0FD;
}
.btn-link-white .dropdown-toggle::after{
  color:#505B64;
}

/*DOTO erster Zustand vorm KLICK*/



.btn-link-blue {
  color: #fff;
  font-weight:400;
}
.btn-link-blue>h2 {
  color:inherit;
}
.btn-link-blue:hover {
  color: #0056b3;
  text-decoration: none;
}
.btn-link-blue:focus, .btn-link-blue.focus {
  text-decoration: none;
}

.btn-link-white {
  font-weight:400;
  color: #505B64;
}
.btn-link-white>h2 {
  color:inherit;
}
.btn-link-white:hover {
  color: #0583C9;
  text-decoration: none;
}
.btn-link-white:focus, .btn-link-white.focus {
  text-decoration: none;
}


/*Navigation*/



.nav-tabs .nav-link {
    font-size:21px;
    font-weight:400;
    color:#737C83;
    margin-top:30px;
    margin-bottom:30px;
  }
  
.nav-tabs{
  width: 100%;
  display: flex;
}

  .nav-link {
    color:#2F3A48;
    font-weight:400;
    font-size:17px;
    display: flex;
    padding: .3rem 1rem;
  }
  .nav-tabs .nav-link.active, .active .nav-link {
    font-weight:700;
    color:#2F3A48;
  }
  
  .nav-link:hover, .nav-link:focus {
    color:#009CEE;
    text-decoration: none;
}

.nav-tabs .nav-item{
  width:150px;
  word-wrap:break-word;
  align-items: stretch;
}


.nav-tabs #anwenden-tab.nav-item{
  background-color: #CBD0CC;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

 #anwenden-tab.nav-link.active, #anwenden-tab.active .nav-link, #anwenden-tab .nav-link{
  background-color: #CBD0CC;
  border-bottom: none;
}

.nav-tabs #agieren-tab.nav-item{
  background-color: #E5CDE6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

 #agieren-tab.nav-link.active, #agieren-tab.active .nav-link, #agieren-tab .nav-link{
  background-color: #E5CDE6;
  border-bottom: none;
}

.nav-tabs #analysieren-tab.nav-item{
  background-color: #C1FFD3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

 #analysieren-tab.nav-link.active, #analysieren-tab.active .nav-link, #analysieren-tab .nav-link{
  background-color: #C1FFD3;
  border-bottom: none;
}

.nav-tabs #informieren-tab.nav-item{
  background-color: #BCD2EE;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

 #informieren-tab.nav-link.active, #informieren-tab.active .nav-link, #informieren-tab .nav-link{
  background-color: #BCD2EE;
  border-bottom: none;
}

.nav-tabs #produzieren-tab.nav-item{
  background-color: #FFCCCC;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

 #produzieren-tab.nav-link.active, #produzieren-tab.active .nav-link, #produzieren-tab .nav-link{
  background-color: #FFCCCC;
  border-bottom: none;
}

.nav-tabs #kommunizieren-tab.nav-item{
  background-color: #FFEC8B;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

 #kommunizieren-tab.nav-link.active, #kommunizieren-tab.active .nav-link, #kommunizieren-tab .nav-link{
  background-color: #FFEC8B;
  border-bottom: none;
}

.nav-tabs #zusatz-tab.nav-item{
  background-color: #F5DEB3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

 #zusatz-tab.nav-link.active, #zusatz-tab.active .nav-link, #zusatz-tab .nav-link{
  background-color: #F5DEB3;
  border-bottom: none;
}

/*Medienkompass*/
.nav-item.active .mc-content{
  display: block;
}

.tabcontent{
  display: none;
  width:100%;
  margin-left:0;
  padding: 15px 0 0 15px;
}

#Anwenden{
  background-color: #CBD0CC !important;
}
#Agieren{
  background-color: #E5CDE6 !important;
}
#Analysieren{
  background-color: #C1FFD3 !important;
}
#Informieren{
  background-color: #BCD2EE !important;
}
#Produzieren{
  background-color: #FFCCCC !important;
}
#Kommunizieren{
  background-color: #FFEC8B !important;
}
#Zusatz{
  background-color: #F5DEB3 !important;
}

.toDos {
  flex-wrap: wrap;
  width: 160px;
  height: 200px;
  padding: 5px;
  background-color: #fff;
  border: solid 1px grey;
  border-radius: 4px;
}

/*Tabelle*/
.table-hover {
  color:#505B64;
}
.table-hover thead {
  font-weight:400;
  font-size:14px;
}
.table-hover tbody {
  font-size:12px;
}
.table-hover tbody tr:hover {
  color:#0583C9;
  background-color:#F1F1F6;
}
.table-hover tr {
  border-top: 1px solid #dee2e6;
  color:#505B64;
}
td.status {
  padding:0.5rem;    /*Size Dot*/
}
.status {
  display:inline-block;
  width:0.5rem;
  height:0.5rem;
  margin:8px 25px;
  background-color:#F1F1F6;
  border-radius: 50% !important;
}
.status-red {
  background-color:#E94B4B;
}
.status-green {
  background-color:#44B687;
}
.status-yellow {
  background-color:#EFB640;
}
table .ss-icon {
  display:inline-block;
}

#info.container{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  position: relative;
  width:100%;
  height:auto;
  margin-top:0;
  padding:15px;
  justify-content: flex-start;
  font-size:14px;
  color:#fff;
  background-color:rgb(236, 13, 13);
  border-radius:3px;
}

#info p{
  justify-content: center;
  align-self: center;
  padding: 15px 10px;
}

#info h1, #info h2, #info h3{
  font-weight:400;
  color:#fff;
}

#info button {
  position: absolute;
  right: 0;
  z-index: 1030;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
#info .close-icon::after{
  padding:10px 15px 0 0;
  font-size:20px;
  color:rgb(156, 29, 44);
}

#info span{
  display: inline-block;
}

#info .info-icon::before{
 padding:0px 10px;
  color:#fff;
  font-size:20px;
  background-color:rgb(236, 13, 13);
}


#commercial .carousel-inner img {
  width: 100%;
  height: 200px;
}
#commercial .carousel{
  height:200px;
  text-align:center; 
}
#commercial .carousel-item{
  transition: transform 1.6s ease,-webkit-transform 1.6s ease;
}

#commercial .overlay{
  width: 520px;
  height: 60px;
  color: #2F3A48;
  font-size:24px;
  background-color: gainsboro;
  opacity: 0.8;
  padding-top: 15px;
  vertical-align: middle;
}

#commercial a .btn{
  float: center;
  background-color: #FFEC8B;
}


.teaser-head{
  margin: 20px 15px;  
  font-weight:600;
  color:#65A300;
}

.teaser-head::after {
  display: inline-block;
  padding: 0 0 0 10px;
  font-family: 'SCicons';
  color:#A7ADB1;
  content: "\e815";
}
#teaser dt{
  font-size:14px;
  font-weight:400;
  color:#737C83;
}
#teaser dt::before{
  padding:0px;
  content:"";
}
#teaser dd{
  padding:0px;
  margin:0px;
  font-size:19px;
  font-weight:400;
  color:#505B64;
}


/*bluebox*/

.bluebox {
  display: flex;
  flex-wrap: wrap;
  margin:30px 0px;
  align-items: flex-start; 
  flex-direction: column;
  max-height: 695px;
}

.bluebox section {
  display:flex;
  position: relative;
  margin: 15px 0;
  align-items: center;
  min-height:9rem;
  background: #00b2f9;
  border-radius:3px;
}

.bluebox section:hover {
  box-shadow: 0 4px 8px 0 #00000070, 0 6px 20px 0 #00000060;
}


.bluebox button{
    position:absolute;
    top: 0;
    right: 0;
    z-index: 1030;
    background-color:transparent;
    border:none;
    box-shadow:none;
  }
  
  .bluebox-lg {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    position: relative;
    width: 45%;
    height:9rem;
    font-size:58px;
    justify-content: center;
    background: #0088dc;
    border-radius:3px;
    
  }
  .bluebox-sm{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    position: absolute;
    background: #0088dc;
    width:50px;
    height: 100%;
    border-radius:3px;
  }
  .bluebox-label {
    display:table;
    padding-left:20px; /*padding-left:70px*/
  }

/*Beschriftung Bluebox*/  
  .bluebox-label>a{
    font-size:24px;
    color: #2F3A48;
    /*color: #fff;*/
  }

  .bluebox-label div{
    width:280px;
    /*overflow-x: scroll;*/
    word-wrap: break-word;
  }

  .bluebox-label dt::before {
    color:#99E0FD;
  }
  .bluebox-label a:hover, .bluebox-label a:hover dt::before{
    color:#fff;
    /*color: #2F3A2F;*/
}


.bluebox-label .btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
  .show > .btn-blue.dropdown-toggle {
  color: #2F3A48;
  background-color: transparent;
  border-color: transparent;
}

#compass .bluebox-lg{
  width: 50%;
}  




/*header*/
.logo-label { 
  font-size:19px;
  font-weight: 500;
}

.logo-label .logo-thin{

}

#header .row{
  flex-wrap: nowrap;
}

.userdd+.nav{
  justify-content: flex-end;
}
.userdd+.nav .btn{
  justify-content: flex-end;
}

#header .dropdown-toggle:hover .dropdown-menu{
  display:block;
}


#mainnav.nav{
  margin-left: -15px;
}

#mainnav .dropdown-toggle::after {
  padding: 0 41px 0 0px;
}

#mainnav .dropdown-lime:hover .dropdown-menu{
  display:block;
}

.nav-pills-area {
  height: 50px;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  border-left:none;
  align-self: center;
}

.nav-pills {
  flex-wrap: nowrap;
  justify-content: space-evenly; 
}

.nav-pills.nav-item.nav-link{
  margin:0;
}
.nav-pills {
  background-color:transparent;
}
  
.nav-pills .nav-item .nav-link:hover,.nav-pills .nav-item .nav-link:focus {
  color:#fff;
  background-color:#65A300;
  text-decoration: none;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #2F3A48;
  font-weight:400;
  background-color:transparent;
}

.badge{
  border-radius:50%;
  margin: .25rem;
}
.badge-lime {
  color:#2F3A48;
  background-color:transparent;
  border: 1px solid #fff;
}
.nav-link:hover > .badge-lime, .nav-link:hover> .badge-lime {
  background-color:#fff;
  text-decoration: none;
}


#footer .row{
  flex-direction: row;
  align-items: center;
}

#footer .container {
  padding: 0;
}

#footer.navbar {
  height: 50px;
  flex-wrap: nowrap;
}

#footer navbar-nav{ 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 20px;
}

#footer .navbar-expand-lg .navbar-nav{
  justify-content: center;
}

#footer .nav-link {
  color:#fff;
  font-size:1rem;
  font-weight:400;
  padding-right: 1rem;
  padding-left: 1rem;
}

#footer .nav-link:hover,#footer .nav-link:focus {
  color:#2F3A2F;
  background-color: transparent;
}

#footer img {
  height: 40px;
  width:auto;
}

/*Subheader*/
#subheader{
  background-color: #fff;
}

#subheader .container {
  padding: 30px 0 30px 0;
}

#subheader .logo-label {
  padding-left: 10px;
  font-size: 24px;
  padding-top: 30px;
}

#main{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  flex-wrap: wrap;
}




.sideoption {
  /*position: fixed;*/
  position: relative;
  display:block;
  width: 300px;
  /*z-index: 1;*/
  overflow-x: hidden;
  /*margin-left: 85px;*/
  height:100%;
  background-color: rgb(223, 225, 226);
}

.mainoption {
  display: flex;
  width: 81%;
}


#sideoption .nav-link {
  padding: .2rem .75rem;
  font-size: 14px;
  background-color: #F1F1F6;
}

#sideoption li>a{
  font-weight: 400;
  color: #505b50;
}

#sideoption li>a:hover{
  color: #0583c9;
}

#sideoption li>a:hover:active{
  border-left: solid 1px #2F3A2F;
  color: #0583c9;
}

#sideoption span{
  font-size: 16px;
  color:#737c83;
}


#sideoption .nav-link.active {
  background-color: #fff;
}

#sideoption .tab-content{
	padding: 15px;
}


/*Medien-Hauptinhalt*/

[draggable=true] {
  cursor: move;  
}

#media-content{
  display: block;
  float: left;
}

.media-object {
  float: left;
  margin: 5px;
  width: 100px;
  height: 200px;
}

#drag1 {background: #dfac20;}
#drag2 {background: #3983ab;}
#drag3 {background: #c32e04;}
#drag4 {background: #5a9900;}
#drag5 {background: purple;}

.extension-button{
  position:relative;
  display:flex;
}

.btn-sideoption{
  align-items: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(192,198,201,1) 0%, rgba(167,173,177,1) 100%);
  margin:0;
  padding-right: 0;
  padding-left: 0;
  font-size:20px;
  font-style: normal;
  color:#fff;
  font-family: "SCicons";
  display:none;
}

.more {
  position: relative;
  margin-top: 80px;
  bottom: 40px;
}

.btn-more {
  margin-left: auto;
  margin-right: auto;
}


/*CheckboxenStyle*/
input[type=checkbox] + label, input[type=radio] + label{
  display:block;           
  margin:0.2em;            
  width:20%;
}
input[type=checkbox], input[type=radio] {
  display:none;
}

input[type=checkbox] + label:before, input[type=radio] + label:before {
  font-family: "SCicons";
  content: "\e80a";
  display:inline-block;
  height: 1.2rem;
  width: 1.2rem;
  padding-left:0.3em;
  margin-bottom:-0.2em;
  margin-right:-0.2em;
  border-radius: 4px;
  color:transparent;
  background: #E3E3E5;
  cursor: pointer;
  transition:.1s;
}
input[type="radio"] + label:before{
  border-radius: 50%;
}

input[type=checkbox]:hover + label::before, input[type=radio]:hover + label::before {
  background-color:#A7ADB1;
  color:#009CEE;
}
input[type=checkbox] + label:active::before, input[type=radio] + label:active::before {
  transform:scale(0);
}
input[type=checkbox]:checked + label::before, input[type=radio]:checked + label::before {
background-color:#009CEE;
color:#fff;
}
input[type=checkbox]:disabled + label::before, input[type=radio]:disabled + label::before {
  background-color:#E3E3E5;
  color:transparent;
}
input[type=checkbox]:disabled + label, input[type=radio]:disabled + label {
  background-color:transparent;
  color:#A7ADB1;
}

/*PageSearch-Filter*/

#pagesearch.container {
  padding-bottom: 30px;
}

#pagesearch .form-inline {
  padding-right: 90px;
}

#pagesearch .form-control {
width: 750px;
}

.pagesearch-field {
  display: inline-flex;
}

#pagesearch .card {
  border:none;
}

#filter span{
  display:block;
  padding-left:30px;
  padding-right:15px;
}
#filter button span{
  padding-left:5px;
  padding-right:5px;
}
#filter .dropdown-menu {
  width: -moz-available;
}

#filter .dropdown{
  display: inline-block;
  margin:0 15px 0;
}

/*Curriculum*/

.curriculum-mainview{
  width: 1140px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}



/*Login*/

.wrapper {
  flex: 1 0 auto;
  display:flex;
}

.login-background{
  height: 100%;
  background-image: url('../Images/lernen.jpg');
  background-color: #cccccc;
}

.login-box{
  width: 350px;
  height: 450px;
  margin:auto;
  border-radius: 4px;
  background-color:#fff;
}

.login-footer{
  flex-shrink: 0;
  background-color: #737C83;
  display: flex;
  justify-content: center;
}

.login-footer .list-group{
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}

.login-header{
  background-color: #CBD900;
  text-align:center;
  padding:15px 0 15px;
  border-radius: 4px;
}

.login-header .sc-icon{
  color: #fff;
  font-size:50px;
}

.login-box h2{
  margin: 10px 0 10px;

}

.login-header .logo-label{
  font-size:30px;
}
.login-box .btn-blue{
  display: inline-block;
  margin-bottom: 10px;
  background: radial-gradient(circle, rgba(9,158,236,1) 0%, rgba(18,151,219,1) 100%);
}

.login-box .form-control{
  font-size:14px;
}

.login-option{
  display:flex;
  flex-direction: row;
  margin:15px 0 15px;
  justify-content:  space-evenly;
}


/*ICONS*/
  
@font-face {
  font-family: 'SCicons';
  src: url('font/scicons.eot');
  src: url('font/scicons.eot?#iefix') format('embedded-opentype');
  src: url("font/scicons.otf") format("opentype"),
  url('font/scicons.woff2') format('woff2'),
  url('font/scicons.woff') format('woff'),
  url('font/scicons.ttf') format('truetype'),
  url('font/scicons.svg#svg') format('svg'),
  url("font/scicons.otf") format("opentype");
  font-weight: normal;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  margin:0;
}

.sc-icon{
  padding-right: 10px;
  font-size:30px;
  color:#2F3A2F;
  font-family: "SCicons";
  content:"";
}

.sc-icon-dd{
  padding-right: 10px;
  font-size:20px;
  color:#fff;
  font-family: "SCicons";
  content:"";
}



.sc-icon-pills{
  font-size:20px;
  margin:0;
  padding:0;
  display: inline-flex;
  color:#fff;
  font-family: "SCicons";
  content:"";
}

.blue-icon-sm{
  position: absolute;
  margin-top: 10px;
  padding-left:10px;
  font-size:30px;
  color:#fff;
  background-color:transparent;
}
.blue-icon-lg{
  position: relative;
  align-self: center;
  color:#fff;
  background-color:transparent;
}

.sideoption-icon{
  margin:5px;
  font-size: 14px;
  color:#A7ADB1;
}

.icon-schulcampus::before {
  margin-right:10px;
  content:'\e829';
}

.icon-curriculum::before {
  font-size:28px;
  content:'\e804';
}
.icon-moodle::before {
  font-size: 30px;
  content:'\e805';
}
.icon-status-red {
  content:'\f111';
  background-color: #e94b4b;
}
.icon-status-green {
  content:'\f111';
  background-color: #44b687;
}
.icon-status-yellow {
  content:'\f111';
  background-color: #efb640;
}
.icon-plus::before {
  content:'\e806';
}
.icon-video::before {
  content:'\e807';
}
.icon-videocam::before {
  content:'\e808';
}
.icon-tabel::before {
  content:'\e809';
}
.icon-ok::before {
  content:'\e80a';
}
.icon-info-circled::before {
  content:'\e80b';
}
.icon-attach::before {
  content:'\e80c';
}
.icon-print::before {
  content:'\e80d';
}
.icon-folder-open::before {
  content:'\e80e';
}
.icon-flag::before {
  content:'\e835'
}

.icon-cog::before {
  content:'\e80f';
}
.icon-calendar::before {
  content:'\e810';
}
.icon-down-open::before {
  content:'\e811';
}
.icon-left-open::before {
  content:'\e812';
}
.icon-right-open::before {
  content:'\e813';
}
.icon-up-open::before {
  content:'\e814';
}
.icon-right-big::before {
  content:'\e815';
}
.icon-indent-left::before {
  content:'\e816';
}
.icon-indent-right::before {
  content:'\e817';
}
.icon-video-1::before {
  content:'\e818';
}
.icon-search::before {
  content:'\e819';
  font-size:24px;
}
.icon-home::before {
  content:'\e81a';
}
.icon-lock::before {
  content:'\e81b';
}
.icon-users::before {
  content:'\e81c';
}
.icon-users-1::before {
  content:'\e81d';
}
.icon-user::before {
  content:'\e81e';
}
.icon-minus-circled::before {
  content:'\e81f';
}
.icon-attention::before {
  content:'\e820';
}
.icon-eye::before {
  content:'\e821';
}
.icon-attention-1::before {
  content:'\e822';
}
.icon-star-empty::before {
  content:'\e823';
}
.icon-star::before {
  content:'\e824';
}
.icon-bookmark::before {
  content:'\e825';
}
.icon-help-circled::before {
  content:'\e826';
}
.icon-usersetting::before {
  font-size:28px;
  content:'\e827';
}
.icon-userhead::before {
  font-size:28px;
  content:'\e828';
}
.icon-roadblock::before {
  content:'\e833';
}
.icon-menu::before {
  content:'\f0c9';
}
.icon-list-bullet::before {
  content:'\f0ca';
}
.icon-mail-alt::before {
  content:'\f0e0';
}
.icon-bell-alt::before {
  content:'\f0f3';
}
.icon-angle-double-left::before {
  content:'\f100';
}
.icon-angle-double-right::before {
  content:'\f101';
}
.icon-angle-left::before {
  content:'\f104';
}
.icon-angle-right::before {
  content:'\f105';
}
.icon-angle-up::before {
  content:'\f106';
}
.icon-angle-down::before {
  content:'\f107';
}
.icon-folder-open-empty::before {
  content:'\f115';
}
.icon-help::before {
  content:'\f128';
}
.icon-info::before {
  content:'\f129';
}
.icon-attention-alt::before {
  content:'\f12a';
}
.icon-lock-open-alt::before {
  content:'\f13e';
}
.icon-ok-squared::before {
  content:'\f14a';
}
.icon-doc-text-1::before {
  content:'\f129';
}
.icon-file-video::before {
  content:'\f1c8';
}
.icon-paper-plane::before {
  content:'\f1d8';
}
.icon-trash::before {
  content:'\f1f8';
}
.icon-user-plus::before {
  content:'\f234';
}
.icon-user-circle-o::before {
  content:'\f2be';
}
.icon-thumbs-up::before {
  content:'\e801';
}
.icon-thumbs-down::before {
  content:'\e802';
}
.icon-attention-circled::before {
  content:'\e803';
}
.icon-compass::before {
  content:'\e82a';
}
.icon-doc-text::before {
  content:'\e82b';
}
.icon-book::before {
  content:'\e82d';
}
.icon-book-1::before {
  content:'\e82e';
}
.icon-docs::before {
  content:'\f0c5';
}
.icon-play-circled::before {
  content:'\f144';
}
.icon-ellipsis::before {
  content:'\f141';
  color: #a7adb1;
  font-size: 16px;
}
.icon-pencil::before {
  content:'\e836';
  color: #a7adb1;
  font-size: 16px;
}
.icon-doc-inv::before {
  content:'\f15b';
}
.icon-graduation-cap::before {
  content:'\f19d';
}
.icon-safari::before {
  content:'\f267';
}
.icon-bank::before {
  content:'\f19c';
}
.icon-compass-circled{
  content:'\e834'
}



/*alte Icons*/

@font-face {
  font-family: 'SSStandard';
  src: url('../SSStandard.eot');
  src: url('../SSStandard.eot?#iefix') format('embedded-opentype');
  src: url("../SSStandard.otf") format("opentype"),
  url('../SSStandard.woff2') format('woff2'),
  url('../SSStandard.woff') format('woff'),
  url('../SSStandard.ttf') format('truetype'),
  url('../SSStandard.svg#svg') format('svg'),
  url("../SSStandard.otf") format("opentype");
  font-weight: normal;
}

.ss-icon{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    font-weight: normal;
    font-style: initial;
    color:#fff;
    font-family: "SSStandard";
    content:"";
}

  .add-icon::after {
    font-size:15px;
    content:"add";
    color:#0088DC;
    background-color:#00B2F9;
  }
  .alert-icon::before {
    padding:10px;
    font-size:20px;
    content:"warning";
    color:#E2293F;
  }
  .bell-icon::before {
    font-size:20px;
    content:"bell";
  }
  .bookmark-icon::before {
    font-size:58px;
    content:"bookmark";
  }
  .camera-icon::before {
    font-size:58px;
    content:"camera";
  }
  .close-icon::after {
    font-size:15px;
    content:"close";
    color:#0088DC;
  }
  .cloud-icon::before {
    content:"cloud";
  }
  .date-icon::before {
    content:"date";
  }
  .desktop-icon::before {
    content:"laptop";
  }
  .ellipsis-icon::before {
    font-size:12px;
    content:"ellipsis";
    color:#A7ADB1;
  }
  .female-icon::before {
    font-size:58px;
    content:"femaleuser";
  }
  .file-icon::before {
    content:"file";
  }
  .flag-icon::before {
    font-size:28px;
    content:"flag";
  }
  .folder-icon::before {
    content:"folder";
  }
  .info-icon::before {
    height:100%;
    padding-right:10px;
    font-size:20px;
    content:"info";
    color:#EFB640;
    background-color:transparent;
  }
  .man-icon::before {
    font-size:58px;
    content:"user";
  }
  .letter-icon::before {
    content:"mail";
  }
  .loading-icon::before {
    font-size:58px;
    content:"loading";
  }
  .picture-icon::before {
    font-size:58px;
    content:"picture";
  }
  .record-icon::before {
    font-size:58px;
    content:"record";
  }
  .refresh-icon::before {
    font-size:58px;
    content:"refresh";
  }
  .send-icon::before {
    content:"send";
  }
  .sync-icon::before {
    content:"sync";
  }
  .users-icon::before {
    font-size:58px;
    content:"users";
  }
  .video-icon::before { /*Mediathek*/
    content:"video";
  }
  .view-icon::before {
    font-size:58px;
    content:"view";
  }
  .write-icon::before {
    font-size:12px;
    content:"write";
    color:#A7ADB1;
  }
  .ss-icon:hover.write-icon::before, .ss-icon:hover.ellipsis-icon::before {
    color:#009CEE;
}



/*FontAwesome-Icons*/
.hook-icon::after{
  padding:10px;
  font-family: "FontAwesome";
  font-size:20px;
  content:"\f00c";
  color:#44B687;
}
.navbar-toggler-icon::after{
  font-family: "FontAwesome";
  font-size:20px;
  content:"\f0c9";
  color:#2F3A48;
}

/*Icons für Input*/
.fa-check-text {
  margin-left:-1px;
  display:flex;
  color:#44B687;
}
.fa-search{
  font-size:24px;
}


