:root {
    --limette-1: #C0CD00;
    --limette-2: #CBD900;
    --limette-3: #EAF099;
    --blau-1: #0583C9;
    --blau-2: #009CEE;
    /*Suchfeld und hover*/
    --blau-3: #00B2F9;
    /*bluebox und Filter*/
    --blau-4: #99E0FD;
    --blau-5: #0088DC;
    /*bluebox*/
    --gruen-1: #253100;
    --gruen-2: #518200;
    --gruen-3: #65A300;
    --dunkelgrau-1: #2F3A48;
    --dunkelgrau-2: #505B64;
    --dunkelgrau-3: #5C646F;
    --dunkelgrau-4: #737C83;
    --hellgrau-1: #A7ADB1;
    --hellgrau-2: #E3E3E5;
    --hellgrau-3: #F1F1F6;
    --hellgrau-4: #F8F8F8;
    --status-gruen: #44B687;
    --statusgelb: #EFB640;
    --statusrot: #E94B4B;
    --warnung: #E2293F;
}




html,
body {
    height: 100%;
    margin: 0;
    /* Browser-Styles reset */
    padding: 25px 0 0 0;
    /* respect fixed header bar */
    font-family: 'Open Sans', Arial, sans-serif !important;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
    height: 50px;
    background-color: #CBD900;
}

#content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
}

footer {
    flex-shrink: 0;
    height: 50px;
    background-color: #737C83;
}

img[width=0] {
    width: auto !important;
}

img[height=0] {
    height: auto !important;
}


/**********************************Allgemeine Definitionen der Grundelemente*********************/

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/* Hilfsklasse flex-zentriert */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*reset-Buttons*/
.btn:active,
.btn:focus,
.btn.focus,
.btn.active {
    background-image: none;
    outline: 0;
    box-shadow: none;
}


/* Buttons */
.btn {
    font-weight: 600;
    display: flex;
    align-items: baseline;
}

a.btn {
    font-weight: 400;
}

.btn-blue {
    color: #fff;
    background-color: #009CEE;
}

.btn-blue:hover {
    color: #2F3A48;
    background-color: #00B2F9;
}

.btn-blue:focus,
.btn-blue.focus {
    box-shadow: 0 0 0 0 #00B2F9;
}

.btn-blue.disabled,
.btn-blue:disabled {
    color: #A7ADB1;
    background-color: #F1F1F6;
}

.btn-blue:not(:disabled):not(.disabled):active,
.btn-blue:not(:disabled):not(.disabled).active,
.show>.btn-blue.dropdown-toggle {
    color: #2F3A48;
    background-color: #00B2F9;
}

.btn-blue:not(:disabled):not(.disabled):active:focus,
.btn-blue:not(:disabled):not(.disabled).active:focus,
.show>.btn-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #00B2F9;
}

.btn-white {
    color: #009CEE;
    background-color: #fff;
}

.btn-white:hover {
    color: #0583C9;
    background-color: #99E0FD;
}

.btn-white:focus,
.btn-white.focus {
    box-shadow: 0 0 0 0 #0583C9;
}

.btn-white.disabled,
.btn-white:disabled {
    color: #99E0FD;
    background-color: #009CEE;
}

.btn-white:not(:disabled):not(.disabled):active,
.btn-white:not(:disabled):not(.disabled).active,
.show>.btn-white.dropdown-toggle {
    color: #fff;
    background-color: #0583C9;
}

.btn-white:not(:disabled):not(.disabled):active:focus,
.btn-white:not(:disabled):not(.disabled).active:focus,
.show>.btn-white.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #0583C9;
}

.btn-login {
    color: #fff;
    background-color: #65A300;
}

.btn-login:hover {
    color: #2f3a2f;
    background-color: #65A300;
}

.btn-up {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #A7ADB1;
    opacity: 0.70;
    z-index: 1024;
}

.btn-search {
    color: #A7ADB1;
    background-color: #fff;
}

.btn-search:hover {
    color: #009CEE;
    background-color: #fff;
}

.btn-search:focus,
.btn-search.focus {
    box-shadow: none;
}

.btn-search:not(:disabled):not(.disabled):active,
.btn-search:not(:disabled):not(.disabled).active,
.show>.btn-search.dropdown-toggle {
    color: #fff;
    background-color: #0583C9;
}





/* Headings */
h1,
h2,
h3,
h4 .h1,
.h2,
.h3,
.h4 {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #2F3A48;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    color: #505B64;
}

h2 {
    font-size: 19px;
    font-weight: 400;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

h4 {
    font-size: 14px;
    font-weight: 700;
}


/* Schriftgrößen */
p {
    color: #505B64;
    hyphens: auto;
}

p.gross {
    font-size: 19px;
    line-height: 26px;
}

p.normal {
    font-size: 14px;
    line-height: 21px;
}

.readingtext {
    max-width: 680px;
    padding-top: 30px;
    margin-right: auto !important;
    margin-left: auto !important;
}

p>a {
    text-decoration: underline;
    text-decoration-color: #009CEE;
}


/* Links */
a {
    color: #2F3A48;
}

a:hover,
a h1:hover,
a h2:hover,
a h3:hover,
a h4:hover {
    color: #009CEE;
    text-decoration: none;
}

/* Placeholder */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A7ADB1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #A7ADB1;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

input:focus::placeholder {
    color: transparent;
}


/* Listen */
ol,
ul,
dl {
    font-size: 14px;
    font-weight: 700;
}

ol {
    list-style-type: disc;
}

ul {
    list-style-type: none;
}

dt {
    display: inline-flex;
}


/* Link Liste (Defination-List) */
dt {
    font-size: 14px;
}

dd {
    padding: 0 20px;
    font-size: 12px;
    font-weight: 400;
}

dt::before {
    display: inline-block;
    padding: 0 8px 0 0;
    font-family: 'SCicons';
    color: #99E0FD;
    content: "\e813";
}


/* Dropdown */
.dropdown.btn,
.dropdown .btn {
    border: none;
    box-shadow: none;
}

.dropdown-toggle::after {
    display: inline-table;
    padding: 0 5px 0 5px;
    font-family: 'SCicons';
    content: "\f107";
    border: none;
}


.sidebar .dropdown-toggle.special::after {
    display: none;
}

/*wenn beim Hover das DD geöffnet werden soll*/
.dropdown:hover .dropdown-menu,
.dropdown:focus .dropdown-menu {
    display: block;
}


.dropdown-menu {
    text-align: left;
    color: inherit;
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 5px rgb(47, 58, 47, 0.15);
    /*#2F3A48*/
}

.dropdown-menu.dropdown-menu-wide {
    min-width: 100%;
}

.dropdown-item {
    width: auto;
    padding: 0.5rem 1rem;
    font-size: inherit;
    color: inherit;
    border-radius: 3px;
}

.dropdown-white {
    color: #2f3a2f;
    background-color: #fff;
    border: 1px solid #99E0FD;
    border-radius: 3px;
}

.dropdown-white:hover {
    color: #009CEE;
    background-color: #fff;
    border-color: #99E0FD;
}

.dropdown-white:not(:disabled):not(.disabled):active,
.dropdown-white:not(:disabled):not(.disabled).active,
.show>.dropdown-white.dropdown-toggle {
    color: #2f3a2f;
    background-color: #99E0FD;
    border-color: #99E0FD;
}

.dropdown-blue {
    color: #2f3a2f;
    background-color: #00B2F9;
    border: 1px solid #99E0FD;
    border-radius: 3px;
}

.dropdown-blue:hover {
    color: #fff;
    background-color: #00B2F9;
    border-color: #99E0FD;
}

.dropdown-blue:not(:disabled):not(.disabled):active,
.dropdown-blue:not(:disabled):not(.disabled).active,
.show>.dropdown-blue.dropdown-toggle {
    color: #fff;
    background-color: #0583C9;
    border-color: #0583C9;
}

.dropdown-lime {
    color: #253100;
    background-color: #CBD900;
    border: 1px solid #CBD900;
    transition: 0.3s;
}

.dropdown-lime:hover {
    color: #fff;
    background-color: #65A300;
    border-color: #65A300;
    transition: 0.3s;
}

.dropdown-lime:not(:disabled):not(.disabled):active,
.dropdown-lime:not(:disabled):not(.disabled).active,
.show>.dropdown-lime.dropdown-toggle {
    color: #fff;
    background-color: #65A300;
    border-color: #65A300;
}

.dropdown-menu-white {
    color: #fff;
    background-color: #00B2F9;
}

.dropdown-menu-white>a:hover {
    color: #2f3a2f;
    background-color: #99e0FD;
}

.dropdown-menu-blue {
    color: #2f3a2f;
    background-color: #00B2F9;
}

.dropdown-menu-blue>a:hover {
    color: #fff;
    background-color: #00B2F9;
}

.dropdown-menu-lime {
    color: #253100;
    background-color: #CBD900;
}

.dropdown-menu-lime>a:hover {
    color: #fff;
    background-color: #65A300;
    transition: 0.3s;
}

.dropdown-menu-lime .dropdown-item.active,
.dropdown-menu-lime .dropdown-item:active {
    color: #65A300;
    background-color: #C0CD00;
}

.dropdown-menu-lime .dropdown-item:focus {
    color: #253100;
    background-color: #C0CD00;
}




/* Carousel */
.carousel {
    height: 100px;
    padding-left: 0px;
    padding-right: 0px;
}

.carousel-indicators {
    display: none;
    margin-bottom: -30px;
}

.carousel-indicators li {
    display: inline-block;
    width: .8em;
    height: .8em;
    margin: 8px;
    border: 1px solid #737C83;
    border-radius: 50%;
    box-shadow: none;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}

.carousel-indicators .active {
    background-color: #737C83;
}

/* Nav-Pfeile an der Seite -Color */
.carousel-control-prev-icon-news {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon-news {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


/* Akkordeon und Cards */
.card-blue {
    background-color: #00B2F9;
}

.card-white {
    color: #2F3A48;
    background-color: #fff;
}

.card-header-blue {
    color: #fff;
    background-color: #009CEE;
    border-bottom: 1px solid #00B2F9;
}

.card-header-white {
    color: #505B64;
    background-color: #fff;
    border-bottom: 1px solid #F1F1F6;
}

.card-header-white:hover {
    columns: #0583C9;
    background-color: #F8F8F8;
    border-bottom: 1px solid #F1F1F6;
}

.card-body {
    padding: 15px 30px;
}

.accordion.small .card-header {
    font-size: 14px !important;
}

.accordion.small .card-body {
    font-size: 12px !important;
}




.btn-link:hover {
    text-decoration: none;
}

.btn-link.focus,
.btn-link:focus {
    text-decoration: none;
}

.btn-link-blue .dropdown-toggle::after {
    color: #99E0FD;
}

.btn-link-white .dropdown-toggle::after {
    color: #505B64;
}

.btn-link-blue {
    margin-right: 0;
    float: right;
    color: #fff;
    font-weight: 400;
}

.btn-link-blue:hover {
    color: #fff;
    background-color: #009CEE;
}

.btn-link-white {
    font-weight: 400;
    color: #505B64;
}

.btn-link-white:hover {
    color: #009CEE;
}






/*Popover*/
.popover {
    left: 85%;
    background-color: rgb(147, 186, 236);
}


.popover.bottom .arrow::after {
    border-bottom-color: rgb(147, 186, 236);
}

.popover-content {
    background-color: rgb(147, 186, 236);
}

.popover-header {
    color: #2F3A48;
}

.bs-popover-bottom {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}



/*Tabs-Links*/
.nav-tabs {
    width: 100%;
    margin: 20px 0 30px 0;
}

.nav-tabs .nav-link {
    padding: .3rem 0;
    font-size: 21px;
    font-weight: 400;
    border: none;
}

.nav-tabs .nav-link:hover {
    border: none;
}

.nav-tabs .nav-link.active {
    font-weight: 700;
    color: #2F3A48;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #009CEE;
}

.nav-link {
    display: flex;
    padding: 0.6rem 1rem .2rem;
    font-weight: 400;
    font-size: 17px;
    color: #2F3A48;
}

.nav-link:hover,
.nav-link:focus {
    color: #009CEE;
    text-decoration: none;
}


.nav-tabs .nav-item {
    margin-right: 60px;
}




/* Breadcrumb */
.breadcrumb {
    font-weight: 400;
    font-size: 14px;
    color: #2F3A48;
    background-color: #fff;
}

.breadcrumb-item>a:hover {
    color: #009CEE;
    text-decoration: none;
}


/* ------------------Formulare-------------------- */

input[type=text] {
    height: 40px;
    width: auto;
}

.tab-pane h2 {
    font-weight: 700;
}

.form-control {
    border-radius: 0;
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 3px;
}

.form-control:focus {
    border-bottom: 2px solid #009CEE;
    box-shadow: none;
    border-radius: 0px;
    /*wenn man INPUT als Linie umsetzt*/
}

.form-group,
.form-control {
    color: #2F3A48;
}

.form-group input {
    margin-top: -6px;
}

input[type=text].small {
    font-size: 14px;
    height: 34px;
}

.form-group .sc-icon {
    display: unset;
}

.form-group .custom-control-label::before {
    display: none;
}

.form-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.form-wrapper .col-lg-2 {
    padding-left: 0px;
    margin-left: -15px;
}

.profil-image {
    position: absolute;
    right: 174px;
    width: 200px;
    height: 200px;
    padding-left: 20px;
}

.profil-image:hover .img-edit {
    display: block;
}

.img-edit {
    display: none;
    float: right;
}

.img-edit .icon-pencil::before,
.img-edit .icon-trash::before {
    font-size: 25px;
    padding-right: 25px;
}

.img-edit .icon-pencil:hover,
.img-edit .icon-trash:hover {
    color: #009CEE;
}



img.round {
    border-radius: 50%;
}

.markaction {
    display: flex;
    flex-wrap: wrap;
    width: 890px;
    padding: 30px 0;
}

.markaction .btn {
    font-weight: 400;
    margin-right: 5px;
    font-size: 14px;
    margin-bottom: 5px;
}

.markaction .btn:hover {
    color: #2F3A48;
}

.markaction .btn:hover.btn::before {
    color: #2F3A48;
}

.btn-blue::before,
.btn::before {
    display: inline-block;
    padding: 0 22px 0 0;
    font-family: 'SCicons';
    color: #fff;
    font-weight: 400;
}

.btn-save {
    float: right;
    margin: 30px 40px;
}

.btn-save.btn-blue::before {
    content: "\e844";
}

.btn-change {
    float: left;
}

.btn-delete {
    background-color: rgb(155, 72, 155);
    color: #fff;
}

.btn-delete.btn::before {
    content: "\f1f8";
}

.btn-change.btn-blue::before {
    content: "\e819";
}

.btn-role.btn-blue::before,
btn-group.btn-blue::before {
    content: "\e806";
}

.btn-password.btn-password::before {
    content: "\e827";
}

.btn-unlock {
    background-color: #44B687;
    color: #fff;
}

.btn-lock {
    background-color: #E94B4B;
    color: #fff;
}


.btn-unlock.btn::before {
    content: "\f13e";
}

.btn-lock.btn::before {
    content: "\e81b";
}

.btn-assign.btn-blue::before {
    content: "\e81d";
}

.btn-reject {
    background-color: #EFB640;
    color: #fff;
}

.btn-reject.btn::before {
    content: "\f235";
}


.btn-blue:hover.btn-blue::before {
    background-color: inherit;
    color: #2F3A48;
}

.row-assign {
    margin: 30px 0;
}

.row-assign .btn {
    margin-top: -1px;
}

.row-assign .dropdown select {
    background: #E3E3E5;
}


.form-wrapper h4 {
    font-weight: 400;
    font-size: 16px;
}

.form-wrapper span {
    padding: 0 .75rem;
}

.form-wrapper h1,
.form-wrapper h2,
.form-wrapper h3 {
    font-weight: 700;
}

.auswahlbox {
    border-radius: 3px;
    border: solid 1px #E3E3E5;
    height: 100px;
    overflow-y: scroll;
}

.auswahlobjekt {
    font-weight: 400;
    margin-left: -30px;
}

.auswahlobjekt:focus,
.auswahlobjekt:active {
    background-color: #E3E3E5;
}

.iconnav {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    border: solid 1px #E3E3E5;
    margin-bottom: 16px;
    margin-left: -10px;
    justify-content: space-between;
}

.iconnav:first-child {
    padding-top: 30px;
}

.iconnav .btn {
    padding: 0;
    border-top: solid 1px lightgray;
    border-radius: 0;
}

.iconnav .sc-icon {
    border-radius: 3px;
    border: none;

    padding: 0;
    margin: 0;
}

.iconset {
    margin-top: 24px;
}

.form-wrapper .checks {
    display: flex;
    flex-direction: column;
}


/* Suchfeld */
.form-control {
    height: 40px;
}

.form-control[type=search] {
    color: #2F3A48;
    border-right: none;
    border: none;
}

.form-control[type=search]:focus {
    color: #2F3A48;
    box-shadow: 0 0 0 0 #009CEE;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: none;
}

.input-group-append {
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.icon-search {
    font-size: 21px;
}

.icon-question-circle-regular.sc-icon::before {
    margin-left: 25px;
    padding-top: 8px;
}


/* Tabelle */
.table {
    color: #505B64;
    /*border-collapse: collapse;*/
    /*width: 100%;*/
}

.table td,
.table th {
    padding: 10px 0;
}

.table thead {
    font-weight: 400;
    font-size: 14px;
}

.table tbody {
    font-size: 14px;
}

tbody tr:hover :not(.status) {
    color: #009CEE;
    background-color: #F1F1F6;
}

.table tr {
    border-top: 1px solid #dee2e6;
}

thead th:after {}


tbody tr:hover .icon-circle {
    background-color: #F1F1F6;
}

.status-red {
    color: #E94B4B;

}

.status-green {
    color: #44B687;

}

.status-yellow {
    color: #EFB640;

}

.status {
    font-size: 20px;
    text-shadow: none;
    cursor: pointer;
}

.status-change {
    position: absolute;
    display: none;
    width: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
    top: 630px;
    /*+15px*/
    left: 1460px;
    /*-40px*/
    padding-left: 5px;
    border: 1px solid #A7ADB1;
    z-index: 1;
    border-radius: 3px;
    background-color: #fff;
    padding-top: 2px;
}



.table .icon-pencil,
.table .icon-trash {
    font-size: 18px;
}

tbody tr:hover .icon-pencil,
tbody tr:hover .icon-trash {
    color: #009CEE;
}






/* Checkboxen */
input[type=checkbox]+label,
input[type=radio]+label {
    display: inline-flex;
    margin: 0;
}

input[type=checkbox],
input[type=radio] {
    display: none;
}

input[type=checkbox]+label:before,
input[type=radio]+label:before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    color: transparent;
    font-family: "SCicons";
    content: "\e80a";
    background: #E3E3E5;
    cursor: pointer;
    transition: .1s;
}

input[type="radio"]+label:before {
    border-radius: 50%;
}

input[type=checkbox]:hover+label::before,
input[type=radio]:hover+label::before {
    background-color: #A7ADB1;
    color: #009CEE;
}

input[type=checkbox]+label:active::before,
input[type=radio]+label:active::before {
    transform: scale(0);
}

input[type=checkbox]:checked+label::before,
input[type=radio]:checked+label::before {
    background-color: #009CEE;
    color: #fff;
}

input[type=checkbox]:disabled+label::before,
input[type=radio]:disabled+label::before {
    background-color: #E3E3E5;
    color: transparent;
}

input[type=checkbox]:disabled+label,
input[type=radio]:disabled+label {
    background-color: transparent;
    color: #A7ADB1;
}


/*Pagination*/
.pagination {
    justify-content: center;
}

.pagination .sc-icon {
    line-height: 1.25;
}

.page-link {
    color: #2F3A48;
    font-weight: 100;
}

.page-link:hover {
    color: #009CEE;
    background-color: transparent;
}

.page-item.disabled .page-link {}

.page-item.active .page-link {
    color: #2F3A48;
    font-weight: 700;
    pointer-events: none;
}

.page-link:focus {
    box-shadow: none;
}



/*grid-Layout für Mediathek und Workspace*/

.grid-wrapper {}

.grid-text {
    font-size: 12px;
}

.grid-header {
    padding-bottom: 30px;
    /*flex-wrap: nowrap;
    overflow-x: hidden;*/
}

.grid-item.item-header {
    display: none;
    width: 200px;
    height: 100px;

}

.grid-item {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: #A7ADB1;
    box-shadow: 0 0 5px 3px rgba(47, 58, 72, 0.15);
}

.grid-item:hover {
    box-shadow: 0 0 5px 3px rgb(47, 58, 72, 0.3);
}



/********************************Header-Elemente***********************************************************/

/* Zentrieren der Elemente im Header horizontal */
header.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

header .row {
    align-items: center;
}

#topnav.dropdown {
    flex-wrap: wrap;
}

/* gleiche Breite */
#topnav button,
#topnav .dropdown-menu {
    width: 245px;
    align-items: center;
}

.logo span {
    font-size: 19px;
    font-weight: 500;
}

.logo .sc-icon-dd,
.logo.sc-icon-dd {
    font-size: 25px;
}


/* Weißer Rand der Pills */
.nav-pills-area {
    height: 50px;
    float: right;
    margin-right: 15px;
}

.nav-pills {
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: space-evenly;
    padding-top: 5px;
}

.nav-pills .nav-item .nav-link:hover,
.nav-pills .nav-item .nav-link:focus {
    color: #fff;
    background-color: #65A300;
    text-decoration: none;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #2F3A48;
    font-weight: 400;
}

.badge {
    margin: -3px 0px 10px -10px;
    padding: .25em .6em;
    font-size: 65%;
    color: white;
    background: #ff0000;
    box-shadow: none;
    text-shadow: none;
    border-radius: 10rem;
}

.dd-right {
    float: right;
    max-width: 100%;
}

/* gleiche Breite */
.dd-right button,
.dd-right .dropdown-menu {
    /*    width:200px;
    max-width: 200px; */
    align-items: center;
}

header .icon-userhead::before {
    font-size: 28px;
}

.dd-label {
    /*    max-width: 115px; */
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "…";
}


#topnav.dropdown-menu-full,
#usernav.dropdown-menu-full {
    display: none;
}

#topnav.dropdown .btn:not(:focus) #topnav.dropdown-menu-full {
    display: none;
}


/**********************************************Footer-Elemente******************************************/
footer .navbar {
    padding: 0 0 0 0.75em;
}

footer img {
    height: 40px;
    width: auto;
}

footer .navbar-nav {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

footer .navbar-nav .nav-link {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    padding-right: 1rem;
    padding-left: 1rem;
}

footer .navbar-nav .nav-link:hover,
footer .navbar-nav .nav-link:focus {
    color: #2f3a2f;
    background-color: transparent;
}


/*******************************************Teaser-Elemente******************************************/
#teaser.container {
    hyphens: auto;
}

.teaser-head {
    margin: 30px 15px 15px;
    color: #65A300;
}

.teaser-head::after {
    display: inline-block;
    padding: 0 0 0 10px;
    font-family: 'SCicons';
    color: #A7ADB1;
    content: "\e815";
}

#teaser h4 {
    font-weight: 400;
    color: #737C83;
}

#teaser h2 a {
    color: #505B64;
}

#teaser h2 a:hover {
    color: #009CEE;
}

/*************************************Blaue Kacheln (Bluebox)******************************************/
.bluebox {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-top: 60px;
    flex-wrap: wrap;
}

.bluebox section {
    display: flex;
    position: relative;
    margin: 15px 0;
    align-items: center;
    min-height: 150px;
    background: #00b2f9;
    border-radius: 3px;
    box-shadow: 0 0 5px 3px rgba(47, 58, 72, 0.15);
    overflow-x: hidden;
}

.bluebox section:hover {
    box-shadow: 0 0 5px 3px rgb(47, 58, 72, 0.3);
    /*#2F3A48*/
}

.bluebox .btn-blue {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    z-index: 1;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #0088dc;
}

.bluebox .btn-blue:focus,
.btn-blue.focus {
    box-shadow: none;
}

.bluebox-lg {
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    background: #0088dc;
    border-radius: 3px;
}

.bluebox-sm {
    display: flex;
    background: #0088dc;
    width: 50px;
    height: 260px;
    border-radius: 3px;
}

.bluebox-label {
    display: block;
    padding-left: 20px;
}

.box-content {
    display: none;
    /*block*/
    position: absolute;
    top: 15px;
    left: 45px;
    padding-left: 20px;
    padding-right: 35px;
}

.box-content h4 {
    font-weight: 400;
    color: #fff;
}

.bluebox .accordion {
    width: 250px;
}

.box-content .card {
    padding: 0 0 5px 0;
    background-color: transparent;
    border: none;
}

.box-content .card-header {
    padding: 0;
    white-space: nowrap;
    flex-wrap: wrap;
    background-color: transparent;
    border: none;
}

.box-content .card-body a {
    color: #fff;
    font-size: 14px;
}

.box-content .sc-icon::before {
    font-size: 12px;
    color: #99E0FD;
}

.box-content .btn-link::before {
    content: '\e811';
}

.box-content .btn-link.collapsed::before {
    content: '\e813';
}

.box-content .btn-link {
    padding: 5px 0;
    color: #2F3A48;
}

.box-content .btn-link:hover,
.box-content .card-header:hover .sc-icon::before {
    color: #fff;
}

.box-content .card-body a:hover {
    color: #fff;
}

.box-content .card-body {
    padding: 0 35px;
}

.box-content-full .card .collapse.show {
    padding: 8px 0;
}

/* Beschriftung Bluebox */
.bluebox-label>a {
    display: block;
    font-size: 24px;
    color: #2F3A48;
}

.bluebox .btn-blue:not(:disabled):not(.disabled):active,
.btn-blue:not(:disabled):not(.disabled).active,
.show>.btn-blue.dropdown-toggle {
    color: #2F3A48;
    background-color: transparent;
    border-color: transparent;
}



/******************************************************content_Elemente***********************************/




/*****mainTabs mit Subtitle****/
.nav-tabs .nav-link span {
    display: none;
}

.nav-tabs .nav-link.active span {
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin: 6px 0 0 5px;
}

.tab-pane {
    padding-top: 30px;
}

/********************************************************main-Elemente**************************************/

/****SIDEBAR******/
.sidebar {
    display: block;
    min-height: 650px;
    min-width: 300px;
    background-color: #F0F0F1;
    transition: min-width .3s ease;
}

.sidebar .accordion.sticky-top {
    top: 50px;
}

.sidebar .card {
    padding: 0 0 20px 0;
    background-color: transparent;
    border: none;
}

.sidebar .card-header {
    padding: 20px 1.25rem 5px 1.25rem;
    color: #505B64;
    background-color: transparent;
    border-bottom: 1px solid #F0F0F1;
}

.sidebar .card-body {
    padding: 2px 60px;
    font-size: 15px;
    color: #505B64;
}

.sidebar .card-body.active a {
    margin-left: -13px;
    padding-left: 10px;
    color: #2F3A48;
    font-weight: 600;
    border-left: 3px solid #009CEE;
}

.sidebar .card-body a:hover {
    color: #009CEE;
}

.sidebar .btn-link {
    font-weight: 400;
    color: #737C83;
    height: 40px;
}

.sidebar .btn-link:hover {
    background: #e3e3e5;
}

.sidebar .btn-link i {
    /*noch als eigene Klasse auslagern*/
    padding-right: 5px;
}

.sidebar .btn-link:after {
    content: '\f107';
}

.sidebar .btn-link.collapsed:after {
    content: "\f105";
}

.card-body .card {
    padding: 0;
}



.card-body .btn-link {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #505B64;
    flex-wrap: wrap;
}

.card-body .btn-link:hover {
    color: rgb(13, 23, 29);
}

.new {
    padding-top: 30px;
    margin-left: 30px;
}

.new .btn {
    background-color: rgb(195, 113, 204);
    color: #fff;
}

.new span {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
}

.new .btn:hover span,
.new .btn:hover .icon-plus-circled::before {}

.new .btn .icon-plus-circled::before {
    color: #fff;
}

.new .btn:hover {
    background-color: rgb(208, 139, 218);
    color: #fff;
}

.sidebar .icon-plus-circled::before {
    font-size: 19px;
    color: #2F3A48;
}

/*********Button zum Sidebar minimieren*****/
.btn-sidebar {
    display: flex;
    align-items: center;
    position: relative;
    width: 30px;
    border-radius: 0;
    z-index: 1;
    background-color: transparent;
    cursor: col-resize;
}

.btn-sidebar .btn:not(:disabled):not(.disabled) {
    padding: 0;
    cursor: col-resize;
}

.btn-sidebar .icon-menu {
    display: none;
}

.btn-sidebar .icon-menu::before {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 25px;
}

.btn-sidebar:hover .icon-menu::before {
    color: #009CEE;
}

/**********Hauptinhalt***********/
.main-content {
    flex-grow: 1;
    flex-direction: row;
    padding-bottom: 30px;
}

/*Suche*/
.pagesearch .card-header {
    padding: 20px 10px;
}

.pagesearch .btn-link-blue {
    width: auto;
    white-space: nowrap;
}

.pagesearch .btn-link:after {
    content: '\f107';
}

.pagesearch .btn-link.collapsed:after {
    content: "\f105";
}

.pagesearch .card {
    overflow: visible;
}

.pagesearch-field {
    display: inline-flex;
    width: 100%;
    padding: 0 20px;
}

.pagesearch-filter button span {
    padding-left: 5px;
    padding-right: 5px;
}

.pagesearch-filter .dropdown-menu {
    position: absolute;
    z-index: 1024;
    width: 180px;
}

.pagesearch-filter .card-body {
    position: absolute;
    z-index: -1;
}

.pagesearch-filter .dropdown {
    display: inline-block;
    margin: 0 5px 0 0;
}

.pagesearch-filter .dropdown-blue {
    width: 180px;
}

.pagesearch-filter .dropdown-toggle::after {
    font-size: 14px;
}



.bootstrap-select .btn.dropdown-toggle:hover,
.bootstrap-select .btn.dropdown-toggle:active {
    color: #2F3A48;
}



/* selectAll in Tabellen */
#selectAll {
    margin-left: 0px;
}

#selectAll label {
    font-size: 14px;
    color: #2F3A48;
}

#selectAll input[type="checkbox"]+label::before {
    margin-right: 15px;
}

#selectAll input[type=checkbox]:hover+label::before {
    background-color: #A7ADB1;
    color: #009CEE;
}

#selectAll input[type=checkbox]+label:active::before {
    transform: scale(0);
}

#selectAll input[type=checkbox]:checked+label::before {
    background-color: #009CEE;
    color: #fff;
}

/***************Select-Felder***********/

/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #00B2F9;
    background-image: none;
}

.bootstrap-select {
    padding-bottom: 10px;
}

.pagesearch-filter .dropdown-item.active {
    background-color: transparent;
    color: #2F3A48;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
    margin-right: 0;
}

select .dropdown-item::before {
    display: inline-table;
    padding: 0;
    font-family: 'SCicons';
    content: "\f114";
    border: none;
}

.dropup .dropdown-toggle::after {
    border: none;
}

.bootstrap-select .dropdown-item::before {
    /*content: "\e82d";*/
}

.bootstrap-select .bs-ok-default::after {
    color: #00B2F9;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
    box-shadow: none;
}

/*----Results anzeigen----*/
.result-counter {
    float: right;
    margin-top: -52px;
}

select.result-counter {
    background-color: rgb(202, 205, 207);
}

.result-counter .btn-light {
    background-color: rgb(202, 205, 207);
}

.result-select.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: auto;
}

.result-text {
    font-size: 16px;
    font-weight: 400;
}

.bootstrap-select .dropdown-item.active,
.bootstrap-select .dropdown-item:active {
    color: inherit;
    background-color: transparent;
}

.pagesearch-filter .dropdown .btn {
    font-weight: 400;
    color: #fff;
    border: 1px solid #99E0FD;
}

.filter-option-inner-inner {
    font-size: 14px;
}

.bootstrap-select .dropdown-item {
    font-size: 14px;
}

.bootstrap-select .dropdown-item:hover {
    color: #2F3A48;
    background-color: #E3E3E5;
}

.btn-light {
    background-color: #00B2F9;

}



.btn-submit {
    position: absolute;
    right: 30px;
}


/************ Infoportal ****************/

#info-nav .navbar {
    padding: .5rem 0;
}

.navbar-toggler {
    color: #2F3A48;
}

#info-nav .nav-link:active,
#info-nav .nav-link:hover,
#info-nav .nav-link:focus {
    background-color: #009cee;
    color: #fff;
}

#info-nav .nav-link {
    padding: 0.6rem 1rem 1rem;
}

.megamenu-li {
    position: static;
}

.dropdown-menu {
    border: none;
    border-radius: 3px;
}

.megamenu {
    position: absolute;
    left: 0;
    right: 0;
    padding: 30px 15px 15px;
    margin: -8px 0;
    border-radius: none;
    background-color: #009cee;
}

.megamenu .dropdown-item {
    color: #fff;
}

.megamenu .dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    background-color: #0583c9;
}

#info-nav .dropdown-menu h5 {
    padding-bottom: 15px;
    border-bottom: 1px solid #99e0fd;
}

#info-nav .dropdown-item:before {
    display: inline-table;
    padding: 0 5px 0 5px;
    font-family: 'SCicons';
    content: "\f101";
    border: none;
}


#info-nav .pagesearch .card-header {
    padding: 0 10px;
}


#info-nav .input-group {
    padding-left: 15px;
    padding-right: 15px;
}

#info-nav .pagesearch-field {
    padding: 15px 0;
    background-color: #009cee;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
}

#info-nav .pagesearch-field {
    padding: 15px 0;
}

#info-nav .form-control {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.no-border {
    border-radius: 0;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.z-low {
    z-index: -1;
}

.z-normal {
    z-index: 1;
}

.z-high {
    z-index: 1000;
}


.info-main .row {
    justify-content: space-between;
}




/***********************News-Content***************/

.news-wrapper {}

.news-content {
    margin: 30px 0;
    display: inline-flex;
}

.news-content-small {}

/********Teaserbox Infoportal****/


.info-main .grid-text {
    font-size: 20px;
    padding-top: 30px;
}

.info-teaser.grid-item {
    margin-right: 0;
}

.info-teaser {
    display: flex;
    position: relative;
    flex-direction: column;
}

.info-teaser-link {
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
    flex-grow: 1;
    color: #2F3A48;
    font-size: 14px;
}

.info-teaser-link a {}

.info-teaser-link a:hover {
    background-color: #737C83;
}

#info-nav .nav-link.active {
    background-color: #00b2f9;
}

.info-teaser-image {
    width: 100%;
    height: 150px;
}

.symbol {
    position: absolute;
    padding: 15px;
    z-index: 1;
    width: 30px;
    height: 40px;
    background-color: #0583C9;
    top: 0;
    left: 10px;
}

.symbol .sc-icon::before {
    font-family: 'SCicons';
    font-size: 20px;
    color: #fff;
    margin-left: -8px;
}

.title-page {
    font-size: 26px;
    font-weight: 400;
    margin: 15px 0;
}

.infopage-image {
    margin: 30px 0;
    width: 100%;
    height: auto;
    padding-top: 19px;
    padding-right: 15px;
}

.ext-links {
    border-top: 1px solid lightgray;
    padding-top: 15px;
    margin-right: 30px;
}

.ext-links h1,
.ext-links h2,
.ext-links h3,
.ext-links h4,
.ext-links h5 {
    font-weight: 700;
    font-size: 14px;
}

.ext-links ul {
    margin: 15px 0;
}

.ext-links li {
    margin: 10px 0;
}

.next-link {
    font-weight: 400;
    margin: 10px 0;
}

.next-link:before {
    display: inline-table;
    padding: 0 5px 0 5px;
    font-family: 'SCicons';
    content: "\f101";
    border: none;
}

.btn-back {
    margin-left: 15px;
    color: #fff;
    background-color: #009CEE;
}

.btn-back:hover {
    color: #fff;
    background-color: #0583c9;
}


.box-content-full h2 {
    font-size: 21px;
}

.box-content-full h4 {
    font-size: 19px;
    margin: 10px 0;
    font-weight: 400;
    color: #fff;
}



.box-content-full .accordion.small .card-body {
    font-size: 16px !important;
}

/*Modal-Fehlermeldung*/

.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    pointer-events: none;
}


.modal-content-error {
    background-color: #E2293F;
}

.modal-header-error {
    color: #fff;
    border: none
}

.modal-title {
    margin-bottom: 3px;
}

.modal-body-error {
    font-size: 14px;
    color: #fff;
}

.modal-footer-error {
    font-size: 14px;
    color: #fff;
    border: none;
    justify-content: flex-end;
}

.btn-error {
    color: #fff;
    background-color: #E2293F;
    border: solid 1px #fff;
}

.btn-error:hover {
    color: #E2293F;
    background-color: #fff;
    border-color: none;
}

.modal-title::before {
    display: inline-table;
    padding: 0 10px 0 5px;
    font-family: 'SCicons';
    content: "\e822";
    border: none;
    font-size: 20px;

}

.model-close-icon::before {
    content: "\e800";
    color: #810b0b;
    font-size: 20px;
}


/* ----------Tooltip----------*/
.tooltip-inner {
    background-color: #EAF099;
}

.tooltip.bottom .tooltip-arrow {
    border-right: 5px solid #EAF099;
    background-color: #EAF099;
}

.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {}

.tooltip .arrow::before {}

.tooltip {}

.tooltip-inner {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #2F3A48;
    text-align: center;
    background-color: #EAF099;
    border-radius: 0.25rem;
}





/* ICONS */
@font-face {
    font-family: 'SCicons';
    src: url('font/scicons.eot');
    src: url('font/scicons.eot?#iefix') format('embedded-opentype');
    src: url("font/scicons.otf") format("opentype"),
        url('font/scicons.woff2') format('woff2'),
        url('font/scicons.woff') format('woff'),
        url('font/scicons.ttf') format('truetype'),
        url('font/scicons.svg#svg') format('svg'),
        url("font/scicons.otf") format("opentype");
    font-weight: normal;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    margin: 0;
}

.sc-icon::before {
    font-family: 'SCicons';
    width: 20px;
}

.sc-icon-dd {
    margin-right: 5px;
    font-size: 19px;
    color: #fff;
    margin-left: 0;
    padding: 0;
    width: 30px;
}

.sc-icon-pills {
    font-size: 24px;
    color: #fff;
}

.btn .user-icon {
    align-self: center;
}

.blue-icon-sm {
    position: absolute;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
}

.blue-icon-lg {
    position: relative;
    align-self: center;
    font-size: 58px;
    color: #fff;
    background-color: transparent;
}

.icon-schulcampus {
    margin-left: -4px;
    padding-right: 4px;
}

.icon-attention-1::before {
    color: #fff;
    font-size: 16px;
}

.icon-userhead::before {
    margin-right: 2px;
}


.icon-cancel::before {
    padding-left: 5px;
    padding-bottom: 5px;
}

.bluebox .icon-plus::before {
    color: #0088DC;
    background-color: #00B2F9;
}

.sidebar .icon-plus::before {
    color: #fff;
    background-color: transparent;
}

.icon-grip-lines-vertical-solid::before {
    color: #505B64;
}

.icon-up-open {
    padding: 10px 12px;
}

.form-wrapper .icon-help::before {
    margin-left: 25px;
}



.icon-help-circled {
    font-size: 20px;
}

/******************************************TEST-Intro**********************/
.curtain {
    margin: 0 auto;
    width: 100%;
    /* Ensures the component is the full screen width */
    height: 100vh;
    /* We're using this for demo purposes */
    overflow: hidden;
    /* Allows us to slide the panels outside the container without them showing */
}

.curtain__wrapper {
    width: 100%;
    height: 100%;
}

.curtain__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #CBD900;
    color: #fff;
    width: 50%;
    /* Each panel takes up half the container */
    height: 100vh;
    /* Used for demo purposes */
    float: left;
    /* Makes sure panels are side-by-side */
    position: relative;
    /* Needed to define the z-index */
    z-index: 2;
    /* Places the panels in front of the prize */
    transition: all 1s ease-out;
    /* Animates the sliding transition */
}

.curtain__content {
    background: #fff;
    padding: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.curtain__wrapper input[type=checkbox] {
    position: absolute;
    /* Force the checkbox at the start of the container */
    cursor: pointer;
    /* Indicate the curtain is clickable */
    width: 100%;
    /* The checkbox is as wide as the component */
    height: 100%;
    /* The checkbox is as tall as the component */
    z-index: 100;
    /* Make sure the checkbox is on top of everything else */
    opacity: 0;
    /* Hide the checkbox */
    top: 0;
    left: 0;
}

/* When the checkbox is checked... */

/* Slide the first panel in */
.curtain__wrapper input[type=checkbox]:checked~div.curtain__panel--left {
    transform: translateX(0);
}

/* Slide the second panel in */
.curtain__wrapper input[type=checkbox]:checked~div.curtain__panel--right {
    transform: translateX(0);
}

/* Slide the panel to the left out of the container */
.curtain__panel--left {
    justify-content: center;

    transform: translateX(-100%);

    align-items: end;
}

/* Slide the panel to the right out of the container */
.curtain__panel--right {
    justify-content: center;
    transform: translateX(100%);
    align-items: start;
}

/*******************************************Standard-Abstände***********************************/

.nospace {
    margin: 0;
    padding: 0;
}

/*zentrieren*/
.center-m {
    margin: 0 auto;
}

.center-space {
    margin: 30px auto;
}

/*Container oder umschließende Elemenete sollten immer rechts und links 30px haben*/
.space {
    margin-right: 30px;
    margin-left: 30px;
}

.m-0 {
    margin: 0;
}

.m-30 {
    margin: 30px;
}

.mr-0 {
    margin-right: 0;
}

.mr-5 {
    margin-right: 5px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.ml-0 {
    margin-left: 0;
}

.ml-5 {
    margin-left: 5px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-60 {
    margin-bottom: 60px;
}

.pl-15 {
    padding-left: 15px !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pr-0 {
    padding-right: 0 !important;
}



/*vor oder hinter Icons*/
.space-right {
    margin: 0 5px 0 0;
}

.space-left {
    margin: 0 0 0 5px;
}