html, body {
    height: 100%;
    margin:0px;    /*Browser-Styles reset*/
    padding:0px;   /*Browser-Styles reset*/
    font-family: 'Open Sans', Arial, sans-serif !important;
}
  
body {
    height:100%;
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    flex-shrink: 0;
    height: 50px;
    background-color: #CBD900;
}
  
#content {
    flex: 1 0 auto;
    display:flex;
    flex-direction: column;
}
  
main {
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
}

footer {
    flex-shrink: 0;
    height: 50px;
    background-color: #737C83;
}

.container-fluid{
    padding-right: 30px;
    padding-left: 30px;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding:0;
}

.row{
    margin-right: 0;
    margin-left: 0;
}

/*Hilfsklasse flex-zentriert*/
.flex { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/*reset-Buttons*/
.btn:active,
.btn:focus, .btn.focus, 
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/*Buttons*/
.btn {
    font-weight: 600;
    display: flex;
    display:-ms-inline-flexbox;
    align-items: baseline;
}

a.btn {
    font-weight:400;
}
  
.btn .user-icon{
    align-self: center;
}
  
.btn-blue {
    color: #fff;
    background-color: #009CEE;
}
.btn-blue:hover {
    color: #2F3A48;
    background-color: #00B2F9;
}  
.btn-blue:focus, .btn-blue.focus {
    box-shadow: 0 0 0 0 #99E0FD;
}
.btn-blue.disabled, .btn-blue:disabled {
    color: #A7ADB1;
    background-color: #F1F1F6;
}
.btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
  .show > .btn-blue.dropdown-toggle {
    color: #2F3A48;
    background-color: #99E0FD;
}
.btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus,
  .show > .btn-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #99E0FD;
}
.btn-white {
    color: #009CEE;
    background-color: #fff;
}
.btn-white:hover {
    color: #0583C9;
    background-color: #99E0FD;
} 
.btn-white:focus, .btn-white.focus {
    box-shadow: 0 0 0 0 #0583C9;
}
.btn-white.disabled, .btn-white:disabled {
    color: #99E0FD;
    background-color: #009CEE;
}
.btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active,
  .show > .btn-white.dropdown-toggle {
    color: #fff;
    background-color: #0583C9;
}
.btn-white:not(:disabled):not(.disabled):active:focus, .btn-white:not(:disabled):not(.disabled).active:focus,
  .show > .btn-white.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #0583C9;
}
  
.btn-lime {
    color: #CBD900;
    background-color: #fff;
}
.btn-lime:hover {
    color: #65A300;
    background-color: #EAF099;
} 
.btn-lime:focus, .btn-lime.focus {
    box-shadow: 0 0 0 0 #65A300;
  }
.btn-lime.disabled, .btn-lime:disabled {
    color: #65A300;
    background-color: #C0CD00;
}
.btn-lime:not(:disabled):not(.disabled):active, .btn-lime:not(:disabled):not(.disabled).active,
  .show > .btn-lime.dropdown-toggle {
    color: #fff;
    background-color: #65A300;
}
.btn-lime:not(:disabled):not(.disabled):active:focus, .btn-lime:not(:disabled):not(.disabled).active:focus,
  .show > .btn-lime.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #65A300;
}

.btn-login {
    color: #fff;
    background-color: #65A300;
}
.btn-login:hover {
  color: #2f3a2f;
  background-color: #65A300;
}

.btn-up {
    display:none;
    position: fixed;
    right:10px;
    bottom:10px;
    background-color: #A7ADB1;
    opacity: 0.70;
    z-index: 1024;
}




.btn-search {
    color: #A7ADB1;
    background-color: #fff;
}
.btn-search:hover {
    color: #009CEE;
    background-color: #fff;
} 
.btn-search:focus, .btn-search.focus {
    box-shadow: none;
}

.btn-search:not(:disabled):not(.disabled):active, .btn-search:not(:disabled):not(.disabled).active,
  .show > .btn-search.dropdown-toggle {
    color: #fff;
    background-color: #0583C9;
}



/*Headings*/
h1, h2, h3, h4 .h1, .h2, .h3, .h4 {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #2F3A48;
}
h1 {
    font-size: 24px;
    font-weight: 400;	
    color: #505B64;
}
h2 {
    font-size: 19px;
    font-weight: 400;	
}
h3 {	
    font-size: 16px;
    font-weight: 700;	
}
h4 {
    font-size: 14px;
    font-weight: 700;
}
  
/*Schriftgrößen*/
.normal {
    font-size:16px;
}
.small {
    font-size:14px;
}
.mini {
    font-size:12px;
}
  
/*Links*/
a {
    color: #2F3A48;
}
a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover {
    color: #009CEE;	     
    text-decoration:none;
}
  
p > a {
    text-decoration: underline;
    text-decoration-color:#009CEE;
}
  
/*Placeholder*/ 
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A7ADB1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A7ADB1;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }
input:focus::placeholder { color:transparent; }

/*Paragraph*/
.p-lg {
    font-size: 19px;	
    line-height: 26px;
    color: #505B64;
}
.p-sm {
    font-size: 14px;	
    line-height: 21px;
    color: #505B64;
}
  
/*Listen*/  
ol, ul, dl {
    font-size: 14px;
    font-weight:700;
}
ol {
  list-style-type: disc;
}	 
ul {
    list-style-type: none;
}
dt {
    display: inline-flex;
}

/*Dropdown*/
.dropdown.btn, .dropdown .btn, .dropup .btn {
    border: none;
    box-shadow:none;
    transition:none;
}
.dropdown-toggle::after, .dropup .dropdown-toggle::after {
    border:none;
}

.dropdown-toggle::after {
    display: inline-table;
    padding: 0 5px 0 5px;
    font-family:'SCicons';
    content: "\f107";
}
.show > .dropdown-toggle::after {
    content: "\f106";
}
.dropdown-menu {
    text-align:left;
    color:inherit;
    padding:0;
    margin:0;
    box-shadow: 3px 3px 5px rgb(47, 58, 47, 0.15);    /*#2F3A48*/
}
  
.dropdown-item {
    width:auto;
    padding: 0.5rem 0.7rem;
    font-size:inherit;
    color:inherit;
    white-space: nowrap;
    border-radius:0.2rem;
}
  
.dropdown-divider {
    margin:0 0;
}
  
.dropdown-white {
    color: #2f3a2f;
      background-color:#fff;
    border:1px solid #99E0FD;
    border-radius:0.2rem;
}
.dropdown-white:hover {
    color: #009CEE;
    background-color: #fff;
    border-color: #99E0FD;
} 
.dropdown-white:not(:disabled):not(.disabled):active, .dropdown-white:not(:disabled):not(.disabled).active,
  .show > .dropdown-white.dropdown-toggle {
    color: #2f3a2f;
    background-color: #99E0FD;
    border-color: #99E0FD;
}
  
.dropdown-blue {
    color:#2f3a2f;
      background-color:#00B2F9;
    border:1px solid #99E0FD;
    border-radius:0.2rem;
}
.dropdown-blue:hover {
    color: #fff;
    background-color: #00B2F9;
    border-color: #99E0FD;
} 
.dropdown-blue:not(:disabled):not(.disabled):active, .dropdown-blue:not(:disabled):not(.disabled).active,
  .show > .dropdown-blue.dropdown-toggle {
    color: #fff;
    background-color: #0583C9;
    border-color: #0583C9;
}
  
.dropdown-lime {
    color:#253100;
    background-color:#CBD900;
    border:1px solid #CBD900;
}
.dropdown-lime:hover {
    color: #fff;
    background-color: #65A300;
    border-color: #65A300;
} 
.dropdown-lime:not(:disabled):not(.disabled):active, .dropdown-lime:not(:disabled):not(.disabled).active,
  .show > .dropdown-lime.dropdown-toggle {
    color: #fff;
    background-color: #65A300;
    border-color: #65A300;
}
  
.dropdown-menu-white {
    color: #fff;
    background-color: #00B2F9;
}
.dropdown-menu-white > a:hover {
    color:#2f3a2f;
    background-color: #99e0FD;
}
.dropdown-menu-blue {
    color: #2f3a2f;
    background-color: #00B2F9;
}
.dropdown-menu-blue > a:hover {
    color:#fff;
    background-color: #00B2F9;
}
.dropdown-menu-lime {
    color: #253100;
    background-color: #CBD900;
}
.dropdown-menu-lime > a:hover {
    color: #fff;
    background-color: #65A300;
}
.dropdown-item.active{
    color: #65A300;
    background-color: #C0CD00;
}


/*Carousel*/
.carousel {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.carousel-indicators {
    display: none;
    margin-bottom:-30px;
}
.carousel-indicators li {
    display: inline-block;
    width: .8em;
    height: .8em;
    margin: 8px;
    border: 1px solid #737C83;
    border-radius: 50%;
    box-shadow: none;   
}
  
.carousel-control-prev, .carousel-control-next {
    display: none;
}
  
.carousel-indicators .active {
    background-color: #737C83;
}
  
/*Nav-Pfeile an der Seite -Color*/
.carousel-control-prev-icon-news {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon-news {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/*Link Liste (Defination-List)*/
dt {
    font-size:14px;
}
dd {
    padding: 0 20px;
    font-size:12px;
    font-weight:400;
}
dt::before {
    display: inline-block;
    padding: 0 8px 0 0;
    font-family: 'SCicons';
    color:#99E0FD;
    content: "\e815";
}

/*Akkordeon und Cards*/
.card-blue {
    background-color: #00B2F9;
}
.card-white {
    color: #2F3A48;
    background-color: #fff;
}
.card-header-blue {
    color:#fff;
    background-color: #009CEE;
    border-bottom: 1px solid #00B2F9;
}

.card-header-white {
    color:#505B64;
    background-color: #fff;
    border-bottom: 1px solid #F1F1F6;
}
.card-header-white:hover {
    columns: #0583C9;
    background-color: #F8F8F8;
    border-bottom: 1px solid #F1F1F6;
}

.card-body {
    padding: 15px 30px;
}

.accordion .small .card-header  {
    font-size: 14px !important;
}
.accordion .small .card-body  {
    font-size: 12px !important;
}

/*DOTO erster Zustand vorm KLICK mit JQuERY if.show ... */

.accordion .dropdown-toggle::after{
    font-size:16px;
    content: '\e814;
}

.accordion .dropdown-toggle.collapsed::after{
    content: '\e811;
}
  
.btn-link-blue .dropdown-toggle::after{
    color:#99E0FD;
}
.btn-link-white .dropdown-toggle::after{
    color:#505B64;
}
  
.btn-link-blue {
    margin: 0 15px;
    color: #fff;
    font-weight:400;
}

.btn-link-blue:hover {
    color: #fff;
    background-color: #009CEE;
    text-decoration: none;
}
.btn-link-blue:focus, .btn-link-blue.focus {
    text-decoration: none;
}
  
.btn-link-white {
    font-weight:400;
    color: #505B64;
}

.btn-link-white:hover {
    color: #009CEE;
    text-decoration: none;
}
.btn-link-white:focus, .btn-link-white.focus {
    text-decoration: none;
}




/*Popover*/
.popover {
    left:85%;
    background-color: rgb(252, 248, 31);
}


.popover.bottom .arrow::after {border-bottom-color: rgb(252, 248, 31); }
.popover-content {background-color: rgb(252, 248, 31);}
.popover-header {color:#65A300;}

.bs-popover-bottom{
    position: absolute;
    top:0;
    right:0;
    margin-right:auto;
    margin-left:auto;
}


/*Tabs-Links*/
 
.nav-tabs{
  width: 100%;
  margin:30px 0;
}

.nav-tabs .nav-link {
    padding: .3rem 0 .75rem 0;
    margin: 0 1rem 0 0;
    font-size:21px;
    font-weight:400;
    border: none;
}

.nav-tabs .nav-link:hover {
    border:none;
}

.nav-tabs .nav-link.active {
    font-weight:700;
    color:#2F3A48;
    border-left:none;
    border-top:none;
    border-right:none;
    border-bottom: 3px solid #009CEE;
}

.nav-link {
    display: flex;
    padding: .3rem 1rem;
    font-weight:400;
    font-size:17px;
    color:#2F3A48;
}

.nav-link:hover, .nav-link:focus {
    color:#009CEE;
     text-decoration: none;
}

  
.nav-tabs .nav-item {
    margin-right: 60px;
}

.tab-pane {
    margin: 15px 30px;
}


/*Breadcrumb*/
.breadcrumb {
    margin: 5px;
    font-weight:400;
    font-size: 14px;
    color:#2F3A48;
    background-color:#fff; 
}
.breadcrumb-item>a:hover {
    color: #009CEE;	    
    text-decoration:none;
}


/*Eingabe-Felder*/
input[type=text] {
    height:40px;
    width:auto;
}
  
.form-control {
    height: 40px;
}
.form-control:focus {
    border-color:#009CEE;
}
.form-group, .form-control{
    color:#2F3A48;
}
input[type=text].small{
    font-size:14px;
    height:34px;
}
.form-group .sc-icon{
    display:unset;
}
.form-group .custom-control-label::before{
    display:none;
}


/*PageSearch*/
/*Suchfeld*/

.form-control::placeholder{
    color: #A7ADB1;
}

.form-control {
    height: 40px;
}

.form-control[type=search] {
    color:#2F3A48;
    border-right: none;
    border: none;
}
.form-control[type=search]:focus {
    color: #2F3A48;
    box-shadow: 0 0 0 0 #009CEE;
    border-right:none;
    box-shadow: none;
}
  
.input-group-append {
    height: 40px;
    background-color:#fff;
    border:none;
    border-radius:.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.icon-search {
    font-size: 21px;
}


/*Tabelle*/
.table {
    color:#505B64;
}

.table td, .table th {
    padding: 10px 0;
}

.table thead {
    font-weight:400;
    font-size:14px;
}
.table tbody {
    font-size:12px;
}
tbody tr:hover {
    color:#009CEE;
    background-color:#F1F1F6;
}
.table tr {
    border-top: 1px solid #dee2e6;
}
td.status {
    padding:0.5rem;    /*Size Dot*/
}
.status {
    display:inline-block;
    width:0.5rem;
    height:0.5rem;
    margin: 12px 20px;
    background-color:#F1F1F6;
    border-radius: 50% !important;
}
.status-red {
    background-color:#E94B4B;
}
.status-green {
    background-color:#44B687;
}
.status-yellow {
    background-color:#EFB640;
}

.table .icon-pencil, .table .icon-ellipsis {
    font-size: 14px;
}
tbody tr:hover .icon-pencil, tbody tr:hover .icon-ellipsis {
    color: #009CEE;
}


/*CheckboxenStyle*/
input[type=checkbox] + label, input[type=radio] + label{
    display: inline-flex;        
    margin:0;            
}
input[type=checkbox], input[type=radio] {
    display:none;
}
  
input[type=checkbox] + label:before, input[type=radio] + label:before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    color:transparent;
    font-family: "SCicons";
    content: "\e80a";
    background: #E3E3E5;
    cursor: pointer;
    transition:.1s;
}
input[type="radio"] + label:before{
    border-radius: 50%;
}
  
input[type=checkbox]:hover + label::before, input[type=radio]:hover + label::before {
    background-color:#A7ADB1;
    color:#009CEE;
}
input[type=checkbox] + label:active::before, input[type=radio] + label:active::before {
    transform:scale(0);
}
input[type=checkbox]:checked + label::before, input[type=radio]:checked + label::before {
  background-color:#009CEE;
  color:#fff;
}
input[type=checkbox]:disabled + label::before, input[type=radio]:disabled + label::before {
    background-color:#E3E3E5;
    color:transparent;
}
input[type=checkbox]:disabled + label, input[type=radio]:disabled + label {
    background-color:transparent;
    color:#A7ADB1;
}








/*Header-Elemente*/
/*Zentrieren der Elemente im Header horizontal*/
header .row {
    align-items: center;
}

#topnav.dropdown {
    flex-wrap: wrap;
} 

/*gleiche Breite*/
#topnav button, #topnav .dropdown-menu {
    width: 250px;
    align-items: center;
}

.logo-label { 
    font-size:19px;
    font-weight: 500;
    display: contents;
}


header .icon-schulcampus::before {
    font-size: 25px;
    margin-right: 5px;
}

/*Weißer Rand der Pills*/
.nav-pills-area {
    height:50px; 
    float: right;
    margin-right: 15px;
}

.nav-pills {
    flex-wrap: nowrap;
    justify-content: center; 
    padding-top: 5px;
}

.nav-pills .nav-item .nav-link:hover, .nav-pills .nav-item .nav-link:focus {
    color:#fff;
    background-color:#65A300;
    text-decoration: none;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #2F3A48;
    font-weight:400;
}

.nav-pills .icon-usersetting::before {
    font-size:26px;
    margin-right: 3px;
    margin-left:-5px;
}

.badge {
    border-radius:50%;
    margin: .25rem;
}
.badge-lime {
    color:#2F3A48;
    background-color:transparent;
    border: 1px solid #fff;
}
.nav-link:hover > .badge-lime, .nav-link:focus > .badge-lime {
    background-color:#fff;
    text-decoration: none;
}

.dd-right{
    float: right;
}

/*gleiche Breite*/
.dd-right button, .dd-right .dropdown-menu {
    width:200px;
    max-width: 200px;
    align-items: center;
}

header .icon-userhead::before {
    font-size:28px;
}

.dd-label { 
    max-width: 115px;
    font-size:16px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "…";
}


#topnav.dropdown-menu-full, #usernav.dropdown-menu-full {
    display: none;
}

#topnav.dropdown .btn:not(:focus) #topnav.dropdown-menu-full {
    display: none;
}


/*Footer-Elemente*/
footer .navbar {
    padding:0 0 0 0.75em;
}
footer img {
    height: 40px;
    width: auto;
}
footer .navbar-nav { 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
footer .navbar-nav .nav-link {
    color:#fff;
    font-size:1rem;
    font-weight:400;
    padding-right: 1rem;
    padding-left: 1rem;
} 
footer .navbar-nav .nav-link:hover,footer .navbar-nav .nav-link:focus {
    color:#2f3a2f;
    background-color: transparent;
}


/*Teaser-Elemente*/
#teaser.container {
    hyphens: auto;
    height: 170px;
}
.teaser-head {
    margin: 30px 15px 15px; 
    color:#65A300;
}
.teaser-head::after {
    display: inline-block;
    padding: 0 0 0 10px;
    font-family: 'SCicons';
    color:#A7ADB1;
    content: "\e815";
}
#teaser h4 {
    font-weight:400;
    color:#737C83;
}
#teaser h2 {
    color:#505B64;
}

/*Blaue Kacheln -Bluebox*/
.bluebox {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-top:60px;    
    flex-wrap: wrap;
}
  
.bluebox section {
    display:flex;
    position: relative;
    margin: 15px 0;
    align-items: center;
    min-height:9.375rem;
    background: #00b2f9;
    border-radius:3px;
    box-shadow: 0 0 5px 3px rgba(47, 58, 72, 0.15);
   
}
  
.bluebox section:hover {
    box-shadow: 0 0 5px 3px rgb(47, 58, 72, 0.3);    /*#2F3A48*/
}
  
.bluebox button {
    position:absolute;
    top: 0;
    right: 0;
    padding: 15px;
    z-index:1;
    background-color:transparent;
    border:none;
    box-shadow:none;
    color:#0088dc;
}

.bluebox .btn-blue:focus, .btn-blue.focus {
    box-shadow: none;
}
    
.bluebox-lg {
    display: flex;             
    width: 9.375rem;
    height:9.375rem;
    justify-content: center;
    background: #0088dc;
    border-radius:3px;
}
.bluebox-sm {
    display: flex;             
    background: #0088dc;
    width:50px;
    height: 260px;
    border-radius:3px;
}
.bluebox-label {
    display:block;
    padding-left:20px; 
}
  
.box-content {
    display: none;  /*block*/
    position: absolute;
    top: 15px;
    left: 45px;
    padding-left: 20px;
    padding-right: 35px;
    
}

/*Beschriftung Bluebox*/  
.bluebox-label>a {
    display:block;
    font-size:24px;
    color: #2F3A48;
}
  
dl a h4:hover, .bluebox a:hover, .bluebox a:hover dt::before {
    color:#fff;
}

dt h4{
    display: inline;
}
  
.bluebox .btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
    .show > .btn-blue.dropdown-toggle {
    color: #2F3A48;
    background-color: transparent;
    border-color: transparent;
}

.box-content-full {
    display:none;
    background-color: #00B2F9;
    height:13rem;
    width: calc(100% - 20px);
    margin-left: 10px;
    position: relative;
    border-radius:3px;
}

.arrowblue{
    left:15%;        /*50% oder 85%*/
    bottom: 100%;
    border: solid #fff;
    content: " ";
    height: 0;
    width: 0px;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: #00B2F9;
    border-width: 15px;
    margin-left: -15px;
}

#blue1, #blue2, #blue3, #blue4, #blue5, #blue6 {
    display: none;
    position: absolute;
    top: 15px;
    left: 30px;
    padding-left: 15px;

}



/*main-Elemente*/
.sidebar {
    display:block;
    width: 300px; /*width: 276px;*/
    height:100%;
    background-color: #F1F1F6;
}

.sidebar .card {
    padding-top :15px;
    background-color: transparent;
    border:none;
}

.sidebar .card-header {
    padding: .5rem 1.25rem;
    color: #505B64;
    background-color: transparent;
    border-bottom: 1px solid #F1F1F6;
}

.sidebar .card-body {
   padding: 2px 30px;
   font-size: 14px;
   color: #505B64;
}

.sidebar .card-body.active a{
    margin-left: -12px;
    padding-left:10px;
    color: #2F3A48;
    font-weight: 600;
    border-left: 2px solid #009CEE;
}

.sidebar .card-body a:hover{
    color:#009CEE;
}

.sidebar .btn-link {
    font-weight: 400;
    color: #737C83;
    text-decoration: none;
}

.sidebar .btn-link i {
    padding-right: 5px;
}

.sidebar .btn-link:after {
    content: '\f107'; 
}
  
.sidebar .btn-link.collapsed:after {
    content: "\f105"; 
}

.card-body .card {
    padding:0;
}

.card-body .card-header {
    margin: 0;
    padding:0;
}

.card-body .btn-link {
    padding:0;
    margin:0;
    font-size: 14px;
    color: #505B64;
    flex-wrap: wrap;
}

.card-body .btn-link:hover {
    color: rgb(13, 23, 29);
}

.new {
    margin-top: 30px;
    margin-left: 30px;
}

.new .btn {
    border: 1px solid #737C83;
}

.new span {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
}

.new .btn:hover span, .new .btn:hover .icon-plus-circled::before {
    color: #009CEE;
}

.sidebar .icon-plus-circled::before {
    font-size: 19px;
    color: #2F3A48;
}


.btn-sidebar {
    position: relative;
    width: 40px;
    margin:0 0 0 -40px;
    padding: 0 .75rem;
    border-radius: 0;
    background-color: #F1F1F6;
    z-index:1;
}

.btn-sidebar .btn:hover .icon-indent-right, .btn-sidebar .btn:hover .icon-indent-left {
    color: #009CEE;
}

.main-content {
    flex-grow: 1;
    flex-direction: row;
    height:100%;
    padding-bottom: 30px;
}

.icon-indent-left, .icon-indent-right {
    font-size: 23px;
}

.icon-indent-left {
    margin-left: -20px;
}


.nav-tabs .nav-link span{
    display: none;
}

.nav-tabs .nav-link.active span{
    display: block;
    font-size:16px;
    font-weight:normal;
    margin: 6px 0 0 5px;
}


/*Subheader*/
#subheader{
    display: inline-flex;
    padding-top: 30px;
    background-color: #fff;
    align-items: last baseline;
}
  
#subheader .logo-label {
    padding-left: 10px;
    font-size: 24px;
    padding-top: 30px;
}

#subheader .sc-icon{
    margin-right: 5px;
    font-size: 25px;
}


/*Suche*/
#pagesearch .card-header {
    padding: 20px 30px;
    margin:0;
}

#pagesearch .btn-link-blue {
    width:220px;
}

#pagesearch .card {
    overflow: visible;
}

.pagesearch-field {
    display: inline-flex;
    width: 100%;
}
  


#filter span {
    display:block;
    padding-left:30px;
    padding-right:15px;
}
#filter button span {
    padding-left:5px;
    padding-right:5px;
}
#filter .dropdown-menu {
    position: absolute;
    z-index: 1024;
    width: 180px;
}
  

#filter .card-body {
    position: absolute;
    z-index: -1;
}

#filter .dropdown {
    display: inline-block;
    margin:0 5px 0 0;
}
#filter .dropdown-blue {
    width: 180px;
}

#filter .dropdown-toggle::after {
    font-size: 14px;
}


#all {
    margin-left: 30px;
}

#all label {
    font-size:14px;
    color: #2F3A48;
}

#all input[type="checkbox"] + label::before {
    margin-right: 15px;
}

#all input[type=checkbox]:hover + label::before {
    background-color:#A7ADB1;
    color:#009CEE;
}
#all input[type=checkbox] + label:active::before {
    transform:scale(0);
}
#all input[type=checkbox]:checked + label::before {
  background-color:#009CEE;
  color:#fff;
}






/*ICONS*/
@font-face {
    font-family: 'SCicons';
    src: url('font/scicons.eot');
    src: url('font/scicons.eot?#iefix') format('embedded-opentype');
    src: url("font/scicons.otf") format("opentype"),
    url('font/scicons.woff2') format('woff2'),
    url('font/scicons.woff') format('woff'),
    url('font/scicons.ttf') format('truetype'),
    url('font/scicons.svg#svg') format('svg'),
    url("font/scicons.otf") format("opentype");
    font-weight: normal;
}
  
[class^="icon-"]::before, [class*=" icon-"]::before {
    margin:0;
}

.sc-icon-dd {
    padding-right: 10px;
    font-size:20px;
    color:#fff;
    font-family: "SCicons";
    content:"";
}

.sc-icon-pills {
    font-size: 24px;
    color:#fff;
    font-family: "SCicons";
    content:"";
}

.blue-icon-sm {
    position: absolute;
    margin-top: 10px;
    padding-left:10px;
    font-size:30px;
    color:#fff;
    background-color:transparent;
}

.blue-icon-lg {
    position: relative;
    align-self: center;
    font-size:58px;
    color:#fff;
    background-color:transparent;
}

.icon-plus::before {
    color:#0088DC;
    background-color:#00B2F9;
}
    
.icon-up-open{
    padding:10px 12px;
}